---
layout: default.html
title: Home
permalink: /
---

<!-- <section class="pb-5 pt-5">
  <div class="media-container-row">
    <div class="row justify-content-md-center align-center">
      <div class="index-flex-item">
        <div>
          <img src="/assets/images/2024-2025/IMG_3172.JPG" style="object-fit:contain;max-width: 100%;" height="400px">
        </div>
        <p>
          <span style="font-weight:600;" class="display-2">MAD Summer Camp</span><br>
          <span class="display-5">A robotics summer camp for middle schoolers to learn about the design and
          build process.</span>
        </p>
      </div>
      <div class="index-flex-item">
        <div>
          <img src="/assets/images/2023-2024/scrimmage_main.JPG" style="object-fit:contain;max-width: 100%;" height="400px">
        </div>
      </div>
      <div class="index-flex-item">
        <div>
          <img src="/assets/images/first-logo-800x800.png" style="object-fit:contain;max-width: 100%;" height="400px">
        </div>
      </div>
    </div>
  </div>
</section> -->

<!-- FIRST Information -->
<section class="pb-5 pt-5">
  <div class="media-container-row">
    <div class="row justify-content-md-center">
      <div class="col-md-10 align-center">
        <h1 class="bold pb-3 display-1">FIRST</h1>
        <p class="text pb-3 display-5">
          FIRST® inspires young people to be science and technology leaders and innovators by engaging them in
          exciting mentor-based programs that build science, engineering, and technology skills, that inspire innovation,
          and that foster well-rounded life capabilities including self-confidence, communication, and leadership.
        </p>
        <div class="mbr-section-btn">
          <a class="btn btn-md btn-black bold display-4" target="_blank" href="https://www.firstinspires.org/">LEARN MORE</a>
        </div>
      </div>
    </div>
    <div style="margin-right: 7%;">
      <img src="/assets/images/first-logo-800x800.png" height="400px">
    </div>
  </div>
</section>

<!-- MAD Summer Camp -->
<section class="section2">
  <div class="mbr-overlay" style="opacity: 0.6; background-color: rgb(0, 0, 0);"></div>
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="mbr-white col-md-10 align-center" style="margin-top:10px;">
        <h1 class="bold pb-3 display-1">MAD Summer Camp</h1>
        <p class="text pb-3 display-5">
          We have hosted the Making A Difference (MAD) Robotics Summer Camp for middle school students
          since 2016. Through the MAD Summer Camp, we teach and inspire tomorrow's leaders with exciting
          hands-on experience and basic engineering practice. The camp uses an intriguing STEM-based
          curriculum in which campers build their own robots and learn to program so that they can play in
          autonomous and driver-controlled challenges!
        </p>
        <p class="text display-5">
          <strong>Level 1: June 3rd-7th 2024<strong>
        </p>
        <p class="text display-5">
          <strong>Level 2: June 10th-14th 2024</strong> <!-- Summer Camp Date and Time -->
        </p>
        <p class="text display-5">
          <strong>1590 W. Fillmore St. Colorado Springs, CO 80904</strong> <!-- Summer Camp Location -->
        </p>
        <div class="mbr-section-btn" style="margin-top: 40px; margin-bottom: 5px;">
          <a class="btn btn-md bold btn-custom-2-outline" style="font-size:1.15rem;"" href="/summer-camp/">SIGN UP</a>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- Scrimmmage and The Open Alliance -->
<section class="section3">
    <div class="media-container-row">
      <div class="scrimmage-margin leadership-holder">
        <img src="/assets/images/2023-2024/scrimmage_main.JPG"> <!-- Scrimmage Image -->
      </div>
      <div class="scrimmage-margin align-center section-margin">
        <h1 class="section-title bold pb-3 display-1">Scrimmage</h1>
        <p class="text display-5">
          FIRST Robotics Competition Team 2996 Cougars Gone Wired is excited to be hosting the
          pre-competition Scrimmage! This opportunity allows teams to test their
          robots on a full field prior to official competition.
        </p>
        <p class="text display-5">
          <strong>February 22, 2025</strong> <!-- Scrimmage Date -->
        </p>
        <p class="text display-5">
          <strong>1590 W. Fillmore St. Colorado Springs, CO 80904</strong> <!-- Scrimmage Location -->
        </p>
        <div class="mbr-section-btn"><a class="btn btn-md btn-black display-4" href="/scrimmage/">LEARN
          MORE</a>
        </div>
      </div>
    </div>
    <hr class="line" style="width: 80%;">
    <div class="media-container-row">
      <div class="scrimmage-margin align-center section-margin">
        <h1 class="section-title bold pb-3 display-1">The Open Alliance</h1>
        <p class="text display-5">
          Team 2996 is proud to be a member of The Open Alliance, which is a group of FRC teams that openly share code, CAD, designs, ideas, and more!
          The goal of The Open Alliance is to create a culture of collaboration within FIRST, and further the ideals of FIRST by promoting Gracious Professionalism and Coopertition.
        </p>
        <div class="mbr-section-btn"><a class="btn btn-md btn-black display-4" target="_blank" href="https://www.theopenalliance.com/">LEARN
          MORE</a>
        </div>
      </div>
    </div>
</section>

<!-- Mentor Memorial - UNDER CONSTRUCTION NEED TO FINISH -->
<!-- 	<section class="section7">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-10 align-center">
        <h1 class="bold pb-3 display-1">Mentor Memorial</h1>
        <hr class="line">
        <p class="text pb-3 display-5">
          One of our beloved mentors passed away in August of 2014. Here is our memorial in honor of his memory.
        </p>
        <div class="mbr-section-btn"><a class="btn btn-md btn-black display-4" href="memorial.html">VIEW MEMORIAL</a>
        </div>
      </div>
    </div>
  </div>
</section> -->
