<section class="header1">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-10 align-center">
        <h1 class="section-title bold pb-3 display-1">
          {{ page.title }}</h1>
        {% if page.data.subtitle %}
        <h3 class="display-9 light pb-3">{{ page.data.subtitle }}</h3>
        {% endif %}
      </div>
    </div>
  </div>
</section>
