<!-- Main section of the website - team name, motto, social media links, and buttons for other pages -->
<section style="padding-bottom:0px; background:#232323;">
  <div class="container align-center">
    <div class="row justify-content-md-center">
      <div class="mbr-white col-md-10">
        <p class="bold section-subtitle display-2" style="margin-top:1em;margin-bottom:0;">FRC Team 2996</p>
        <h1 class="section-title bold display-1 pb-3" style="color: white;">Cougars Gone Wired</h1>
        <!-- <p class="text pb-3 display-5">FIRST Robotics Competition Team 2996 Cougars Gone
          Wired strives to combine a constant pursuit of knowledge with a commitment to the community and
          the expansion of FIRST. We endeavor to be a role model for other teams by building
          students while building robots, having fun while working hard, and doing our best while helping
          others.</p> -->

          <div class="slideshow-container">

            <div class="mySlides">
              <img class="img_slideshow fade_slideshow" src="/assets/images/robots/Audrey-2.JPG">
            </div>
            
            <div class="mySlides">
              <img class="img_slideshow fade_slideshow" src="/assets/images/2023-2024/scrimmage_main.JPG">
            </div>
            
            <div class="mySlides">
              <img class="img_slideshow fade_slideshow" src="/assets/images/2024-2025/GroupPhoto2024.JPG">
            </div>

            <div class="mySlides">
              <img class="img_slideshow fade_slideshow" src="/assets/images/2023-2024/cachedImage.png">
            </div>

            <div class="mySlides">
              <img class="img_slideshow fade_slideshow" src="/assets/images/2024-2025/IMG_0528.jpg">
            </div>
          </div>
          <br>
          
          <div style="text-align:center">
            <span class="dot_slideshow"></span> 
            <span class="dot_slideshow"></span> 
            <span class="dot_slideshow"></span> 
            <span class="dot_slideshow"></span>
            <span class="dot_slideshow"></span> 
          </div>
          <br>
          <p class="bold section-subtitle pb-3 display-2" style="font-size:2rem;">When life gives you lemons, build a robot!</p><br>
        <div class="mbr-section-btn">
          <a class="btn btn-md btn-custom-2-outline display-4" href="/about/">ABOUT US</a>
          <a class="btn btn-md btn-custom-1-outline display-4" href="/sponsors/">SPONSORS</a>
          <a class="btn btn-md btn-custom-2-outline display-4" href="/resources/">RESOURCES</a>
          <a class="btn btn-md btn-custom-1-outline display-4" href="/contact/">CONTACT US</a>
        </div>

        <div class="social-row">
          <div class="social-item">
            <a href="https://www.youtube.com/user/FRC2996" target="_blank" rel="noopener">
              <img height="60px" src="/assets/images/icons/youtube-icon.png">
            </a>
          </div>
          <div class="social-item">
            <a href="https://www.instagram.com/cougarsgonewired/" target="_blank" rel="noopener">
              <img height="60px" src="/assets/images/icons/instagram-icon.png">
            </a>
          </div>
          <div class="social-item">
            <a href="https://www.facebook.com/CougarsGoneWired/" target="_blank" rel="noopener">
              <img height="60px" src="/assets/images/icons/facebook-icon.png">
            </a>
          </div>
          <div class="social-item">
            <a href="https://twitter.com/frc2996" target="_blank" rel="noopener">
              <img height="60px" src="/assets/images/icons/whatever-its-called-icon.png">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
