<section class="cid-saBTaZ1MKZ" id="footer1-7h">
  <div class="container">
    <div class="media-container-row content text-white">
      <div class="col-12 col-md-3">
        <div class="media-wrap" style="text-align: center">
          <img src="/assets/images/full-red-cgw-logosvg.svg" alt="Cougars Gone Wired"
            title="Cougars Gone Wired" style="height: 180px; width: 100%; max-height: 180px;">
        </div>
      </div>
      <div class="col-12 col-md-3 display-7">
        <h5 class="pb-3">Contact Us</h5>
        <p class="text"><strong>Cougars Gone Wired - Team</strong>
          <br>cougars.gonewired@gmail.com
          <br>
          <br><strong>Bryce McLean - Head Coach</strong>
          <br>bryce.mclean@d11.org
        </p>
      </div>
      <div class="col-12 col-md-3 display-7">
        <h5 class="pb-3">
          Address
        </h5>
        <p class="text">Coronado High School
          <br>
          <br>1590 W. Fillmore Colorado Springs, CO 80904
        </p>
      </div>
    </div>
    <div class="footer-lower">
      <div class="media-container-row">
        <div class="col-sm-12">
          <hr>
        </div>
      </div>
      <div class="media-container-row mbr-white">
        <div class="col-sm-6 copyright">
          <p class="text display-7">
            © Copyright 2021 Cougars Gone Wired - All Rights Reserved<br>FIRST® and FIRST® Robotics
            Competitions are registered trademarks of United States Foundation for Inspiration and
            Recognition of Science and Technology, 200 Bedford Street Manchester New Hampshire 03101<br>
          </p>
        </div>
        <div class="col-md-6">
          <div class="social-list align-right">
            <div class="soc-item">
              <a href="https://www.youtube.com/user/FRC2996" target="_blank" rel="noopener">
                <span class="mbr-iconfont mbr-iconfont-social socicon-youtube socicon"
                  style="font-size: 45px; color: rgb(255, 255, 255); fill: rgb(255, 255, 255);"></span>
              </a>
            </div>
            <div class="soc-item">
              <a href="https://www.instagram.com/cougarsgonewired/" target="_blank" rel="noopener">
                <span class="mbr-iconfont mbr-iconfont-social socicon-instagram socicon"
                  style="font-size: 45px; color: rgb(255, 255, 255); fill: rgb(255, 255, 255);"></span>
              </a>
            </div>
            <div class="soc-item">
              <a href="https://www.facebook.com/CougarsGoneWired/" target="_blank" rel="noopener">
                <span class="mbr-iconfont mbr-iconfont-social socicon-facebook socicon"
                  style="font-size: 45px; color: rgb(255, 255, 255); fill: rgb(255, 255, 255);"></span>
              </a>
            </div>
            <div class="soc-item">
              <a href="https://twitter.com/frc2996" target="_blank" rel="noopener">
                <span class="mbr-iconfont mbr-iconfont-social socicon-twitter socicon"
                  style="font-size: 45px; color: rgb(255, 255, 255); fill: rgb(255, 255, 255);"></span>
              </a>
            </div>
            <div class="soc-item">
              <a href="https://www.linkedin.com/in/cougars-gone-wired-frc-team-74bb9711b" target="_blank"
                rel="noopener">
                <span class="mbr-iconfont mbr-iconfont-social socicon-linkedin socicon"
                  style="font-size: 45px; color: rgb(255, 255, 255); fill: rgb(255, 255, 255);"></span>
              </a>
            </div>
            <div class="soc-item">
              <a href="https://gitlab.com/cougars-gone-wired" target="_blank" rel="noopener">
                <span class="mbr-iconfont mbr-iconfont-social socicon-gitlab socicon"
                  style="font-size: 45px; color: rgb(255, 255, 255); fill: rgb(255, 255, 255);"></span>
              </a>
            </div>
          </div>
        </div>
        <div>
          <!--<p class="text display-7" style="position: absolute; bottom: 0; right: 0;">
            v3</p>-->
        </div>
      </div>
    </div>
  </div>
</section>
