<section class="menu cid-s9hTYt6pfW" once="menu" id="menu1-37">
  <nav
    class="navbar navbar-expand beta-menu navbar-dropdown align-items-center navbar-fixed-top navbar-toggleable-sm">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
      data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <div class="hamburger">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </button>
    <div class="menu-logo">
      <div class="navbar-brand">
        <span class="navbar-logo">
          <a href="/">
            <img src="/assets/images/full-red-cgw-logosvg.svg" alt="Cougars Gone Wired"
              title="Cougars Gone Wired Logo" style="height: 4rem;">
          </a>
        </span>
        <span class="navbar-caption-wrap"><a class="navbar-caption text-secondary display-4"
            href="/">Cougars Gone Wired</a></span>
      </div>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true">
        <li class="nav-item">
          <a class="nav-link link text-white display-4" href="/">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link link dropdown-toggle text-white display-4" href="/about/"
            data-toggle="dropdown-submenu" aria-expanded="false">About Us</a>
          <div class="dropdown-menu">
            <a class="nav-link link text-white display-4" href="/about/">About Us</a>
            <a class="dropdown-item text-white display-4" href="/about/team-history/">Team History</a>
            <a class="dropdown-item text-white display-4" href="/summer-camp/"> MAD Summer Camp</a>
            <a class="dropdown-item text-white display-4" href="/about/leadership/">Our Leadership</a>
            <a class="dropdown-item text-white display-4" href="/scrimmage/">Scrimmage</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link link text-white display-4" href="/sponsors/">Sponsors</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link text-white display-4" href="/resources/">Resources</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link text-white display-4" href="/contact/">Contact Us</a>
        </li>
        <li class="nav-item" style="display: flex; justify-content: center;">
          <a class="nav-link link calendar" href="/calendar"></a>
          <style>
            .calendar {
              width: 45px;
              height: 45px;
              margin-top: 1em;
              margin-left: 1em;
              margin-right: 1em;
              margin-bottom: 1em;
              align-self: center;
              background: url("/assets/images/calendar.svg") no-repeat;
            }
            .calendar:hover {
              width: 45px;
              height: 45px;
              margin-top: 1em;
              margin-left: 1em;
              margin-right: 1em;
              margin-bottom: 1em;
              align-self: center;
              background: url("/assets/images/calendar-yellow.svg") no-repeat;
            }
          </style>
        </li>
      </ul>
    </div>
  </nav>
</section>
