* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}

.mySlides {
    display: none;
    max-width: 100%;
    height: 500px;
    background: black;
    border-radius: 8px;
}

@media (max-width: 991px) {
  .mySlides {
    display: none;
    width: 100%;
    height:auto;
    background: black;
    border-radius: 8px;
  }
  .img_slideshow {
    object-fit: cover;
    border-radius: 8px;
    height: 100%;
    max-width: 100%;
  }
}

.img_slideshow {
  object-fit: cover;
  height: 100%;
}

img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
}

/* Caption text */
.text_slideshow {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot_slideshow {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active_slideshow {
  background-color: #717171;
}

/* Fading animation */
.fade_slideshow {
  animation-name: fade;
  animation-duration: 1s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}