.leadership-holder {
	-ms-grid-row-align: center;
	width: 100%;
	max-width: 550px;
	margin-top: 0;
	margin-right: 1em;
	margin-bottom: 1em;
	position: relative;
	display: inline-block;
}

.leadership-holder img {
	width: inherit;
	max-width:100%;
	display: block;
	border-radius: 2%;
}

.leadership-holder p {
	font-weight: bolder;
	color: #000000 !important;
	text-shadow: #FFFFFF 0 0 15px;
	position: absolute;
	margin: 0;
	bottom: 0;
	left: 0.25em;
}
