---
layout: default.html
title: About Us
permalink: /about/
---

<section class="section5">
  <div class = "container">
    <div class="row justify-content-md-center">
      <div class="col-md-10 align-center">
        <h3 class="display-6 bold">The Team</h3>
        <hr class="line">
        <p class="section-paragraph pb-3">
          Cougars Gone Wired is the FIRST Robotics Competition Team 2996. We are a team working out of Coronado High School, 
          but accept kids from across District 11. We model our leadership after the structure of a business, allowing students
          to interview for their position.
        </p>
        <p class="section-paragraph pb-2">
          During pre-season (first semester), we hold meetings on Wednesdays from 6:00&nbsp;PM to 8:00&nbsp;PM; during build season (second semester), we work Tuesday through
          Friday from 5:00&nbsp;PM to 8:00&nbsp;PM and Saturdays from 8:00&nbsp;AM to 5:00&nbsp;PM. <br><br>Please <a href="pages/contact.html">contact us</a> if you have any questions!
        </p>
      </div>
    </div>
  </div>
</section>

<section class="section4">
    <div class="container">
      <div class="col-md-12">
        <div class="media-container-row">
          <div class="mbr-figure" style="width: 500%; height: 500%;">
            <img src="/assets/images/team-org-chart.svg" alt="Team Structure Diagram"
              title="Team Structure Diagram" style="max-width: 100%; height: auto;">
          </div>
          <div class="align-left">
            <h2 class="mbr-title pt-2 display-2"><strong>Team Structure</strong></h2>
            <div class="mbr-section-text">
              <p class="display-8">We split our team in half, covering technical and business responsibilities 
                respectively. We then split those halves further, allowing at minimum 12 leadership positions.
                Students are selected for leadership through an interview system similar to ones that students
                will encounter in industry.
                
                <br><br>This structure gives students an opportunity to act under management similar to a real 
                workplace and gain valuable leadership experience.
                
                <br><br>Although the team is student-led, we could not be what we are without mentors. Our mentors 
                are people who work in the STEM industry and have a passion for inspiring youth.
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="media-container-row title">
          <div class="col-12 col-md-4">
            <div class="mbr-section-btn align-center"><a class="btn btn-black display-4" href="/about/leadership/">MEET OUR LEADERSHIP</a>
            </div>
          </div>
<!--  					<div class="col-12 col-md-4">
            <div class="mbr-section-btn align-center"><a class="btn btn-black display-4" href="mentors.html">MEET OUR MENTORS</a>
            </div>
          </div>  THIS IS WORK IN PROGRESS - NEEDS TO BE FINISHED-->
        </div>
      </div>
    </div>
</section>
