---
layout: default.html
title: Leadership
permalink: /about/leadership/
---

<!--CEO-->
<!-- <div class="card-container"> -->
<section class="header3 featured-card card-container cid-s9uoswRMBJ container" id="header3-47">
  <div class="leadership-holder">
    <img src="/assets/images/2024-2025/Leadership/julia_vp_2024_25.png" alt="Julia Tate" title="Julia Tate"> <!-- Leader Image & Alt Text -->
  </div>
  <div class="media-content">
    <div class="mbr-section-text mbr-white pb-3 ">
      <p class="text display-10"><strong>Julia Tate</strong></p> <!-- Leader's Name -->
      <p class="text display-5">
        <strong>Position:</strong> Chief Executive Officer <!-- Position -->
        <br><strong>Grade:</strong> Senior
      </p>
      <p class="text display-3">
        <strong>Why did you join the team?</strong><br>
        I wasn't interested in the robotics team at first, but after my mom forced me to go to a few meetings I realized this was where I wanted to be. The people are fantastic, the leadership opportunities and unparalleled, and I've had so much fun!
        <br><strong>Why did you want to become CEO?</strong>
        <br>I wanted to become CEO because I felt it was where the team needed me most.

        <br><strong>What is your favorite team memory?</strong>
        <br>The team social at the 2023 Colorado Regional is definitely my favorite thing I've ever been apart of. We were all singing and dancing with kids we had all never met before, but I felt completely surrounded by friends. One of the best nights of my life!
      </p>
    </div>
  </div>
</section>
<!-- </div> -->

<!-- Business VPs -->
<section class="mbr-section article content9" id="content9-4l">
  <div class="container">
    <div class="inner-container" style="width: 100%;">
      <hr class="line" style="width: 100%;">
      <div class="section-text align-center display-1">
        <strong>Business</strong>
      </div>
      <hr class="line" style="width: 100%;">
    </div>
  </div>
</section>

<div class="card-container">
  <!--Finance-->
  <section class="header3 leadership-card cid-s9uoswRMBJ" id="header3-47">
    <div class="container">
      <div class="leadership-holder">
        <img src="/assets/images/2024-2025/Leadership/carter_vp_2024_25.png" alt="Carter Johnston" title="Carter Johnston">
      </div>
      <div class="media-content">
        <div class="mbr-section-text mbr-white pb-3 ">
          <p class="text display-10"><strong>Carter Johnston</strong></p>
          <p class="text display-5">
            <strong>Position:</strong> VP of Finance (CFO)
            <br><strong>Grade: 12</strong> 
          </p>
          <p class="text display-3">
            <strong>Why did you join the team?</strong>
            <br>I have always loved manufacturing and STEM. But never joined robotics because it was for “nerds”. But after making friends with said nerds, I recognized that it really was everything that I enjoyed.
            <br><strong>Why did you want to be a part of the leadership?</strong>
            <br>I wanted to become a part of leadership because I felt as though it was my duty and as a senior I feel like it was best to have a mature leader.
            <br><strong>What is your favorite team memory?</strong>
            <br>I haven’t been on the team very long, but my favorite memory so far is probably my lack of ability to cut a square piece of metal.. (Embarrassing lol).
          </p>
        </div>
      </div>
    </div>
  </section>

  <!--Awards-->
  <section class="header3 leadership-card cid-s9uoswRMBJ" id="header3-47">
    <div class="container">
      <div class="leadership-holder">
        <img src="/assets/images/2024-2025/Leadership/caleb_vp_2024_25.png" alt="Caleb Ballentine" title="Caleb Ballentine">
      </div>
      <div class="media-content">
        <div class="mbr-section-text mbr-white pb-3 ">
          <p class="text display-10"><strong>Caleb Ballentine</strong></p>
          <p class="text display-5">
            <strong>Position:</strong> Co-VP of Awards
            <br><strong>Grade:</strong> Junior
          </p>
          <p class="text display-3">
            <strong>Why did you join the team?</strong>
            <br>Four words: You Should Join Robotics
            <br><strong>Why did you want to be a part of the leadership?</strong>
            <br>I wanted to become a part of leadership because I wanted to have a good impact on how we functioned together as a team.
            <br><strong>What is your favorite team memory?</strong>
            <br>I’m stuck between 2 favorite memories, it’s either getting to be spirit captain at the Colorado regional or getting to be the human player for Spot at KCMT.
          </p>
        </div>
      </div>
    </div>
  </section>

  <!-- Awards 2 -->
  <section class="header3 leadership-card cid-s9uoswRMBJ" id="header3-47">
    <div class="container">
      <div class="leadership-holder">
        <img src="/assets/images/2024-2025/Leadership/kelsey_vp_2024_25.JPG" alt="Kelsey Modaff" title="Kelsey Modaff">
      </div>
      <div class="media-content">
        <div class="mbr-section-text mbr-white pb-3 ">
          <p class="text display-10"><strong>Kelsey Modaff</strong></p>
          <p class="text display-5">
            <strong>Position:</strong> Co-VP of Awards
            <br><strong>Grade:</strong> Sophomore
          </p>
          <p class="text display-3">
            <strong>Why did you join the team?</strong>
            <br>I originally joined because I had seen robot demos from the team in the past, and thought they were incredible! Being on a robotics team also was a chance to get experience with engineering, which fits with the career path I’ve been leaning towards.
            <br><strong>Why did you want to be a part of the leadership?</strong>
            <br>I wanted to become part of leadership because I needed to give back to the team (the best people in the world) and the community that had helped me improve myself, my life, and my skills so much. For me, leadership was an opportunity to do that in a significant way.
            <br><strong>What is your favorite team memory?</strong>
            <br>My favorite team memory was doing the team dance at the Colorado regional last year!! 
          </p>
        </div>
      </div>
    </div>
  </section>


  <!--Outreach-->
  <section class="header3 leadership-card cid-s9uoswRMBJ" id="header3-47">
    <div class="container">
      <div class="leadership-holder">
        <img src="/assets/images/2024-2025/Leadership/callum_vp_2024_25.JPG" alt="Callum Fleming" title="Callum Fleming">
      </div>
      <div class="media-content">
        <div class="mbr-section-text mbr-white pb-3 ">
          <p class="text display-10"><strong>Callum Fleming</strong></p>
          <p class="text display-5">
            <strong>Position:</strong> VP of Outreach
            <br><strong>Grade:</strong> Senior
          </p>
          <p class="text display-3">
            <strong>Why did you join the team?</strong>
            <br>Couple of my friends at one point joined the team my freshman year and I saw them doing robotics after school one day. I ended up coming to my meeting that night and fell in love with it the second I got there!!! 
            <br><strong>Why did you want to be a part of the leadership?</strong>
            <br>I wanted to become a part of the leadership because I felt like leadership was the place for me. I enjoy being a part of the team and wanted to take a bigger leadership position and involve myself more in robotics.
            <br><strong>What is your favorite team memory?</strong>
            <br>My favorite memory was probably the first time I got to dance with the team at Oklahoma it was the first time I truly felt like I was part of something more than just robotics, but a family.
          </p>
        </div>
      </div>
    </div>
  </section>

  <!--Webiste-->
  <section class="header3 leadership-card cid-s9uoswRMBJ" id="header3-47">
    <div class="container">
      <div class="leadership-holder">
        <img src="/assets/images/2024-2025/Leadership/raven_vp_2024_25.JPG" alt="Raven Van Hoy" title="Raven Van Hoy">
      </div>
      <div class="media-content">
        <div class="mbr-section-text mbr-white pb-3 ">
          <p class="text display-10"><strong>Raven Van Hoy</strong></p>
          <p class="text display-5">
            <strong>Position:</strong> VP of Website & Social Media
            <br><strong>Grade:</strong> Sophmore
          </p>
          <p class="text display-3">
            <strong>Why did you join the team?</strong>
            <br>I knew that I wasn't going to have a lot of friends from middle school follow me to Coronado, and I figured the robotics team would be full of nerds just like me.
            <br><strong>Why did you want to be a part of the leadership?</strong>
            <br>I joined leadership because I knew that after all the team had done for me, I needed to give back in some way, and this position was the best choice for me and my skill set.
            <br><strong>What is your favorite team memory?</strong>
            <br>My favorite memories are and will always be driving at competitions, the thrill of having that control and pushing for a win will never be topped.
          </p>
        </div>
      </div>
    </div>
  </section>

  <!--Media-->
  <section class="header3 leadership-card cid-s9uoswRMBJ" id="header3-47">
    <div class="container">
      <div class="leadership-holder">
        <img src="/assets/images/2024-2025/Leadership/marcus_vp_2024_25.JPG" alt="Marcus Montoya" title="Marcus Montoya">
      </div>
      <div class="media-content">
        <div class="mbr-section-text mbr-white pb-3 ">
          <p class="text display-10"><strong>Marcus Montoya</strong></p>
          <p class="text display-5">
            <strong>Position:</strong> VP of Media & Marketing
            <br><strong>Grade:</strong> Sophomore
          </p>
          <p class="text display-3">
            <strong>Why did you join the team?</strong>
            <br>I had multiple friends that were on the team before me, and how they talked about this team, how it's like a family, how it's so fun, and how it's where we are able to learn all of the important teamwork, leadership, and robot building skills. And I wanted nothing more than to be a part of it all.
            <br><strong>Why did you want to be a part of the leadership?</strong>
            <br>When it came time to elect the new leadership, I was the only person on the team with enough knowledge in the way of media, and its nuances available. And therefore I graciously stepped up to the task of the VP of Media and marketing.
            <br><strong>What is your favorite team memory?</strong>
            <br>I think my favorite team memory was going to the Cool Science Festival in September of 2023. It was the first major demo event I'd gone to, and be able to talk to people about robotics and our team, along with getting to hang out with friends all day, it was absolutely the bees knees.
          </p>
        </div>
      </div>
    </div>
  </section>
</div>

<!-- Technical VPs -->
<section class="mbr-section article content9 cid-s9uv7DwZ4y" id="content9-4k">
  <div class="container">
    <div class="inner-container" style="width: 100%;">
      <hr class="line" style="width: 100%;">
      <div class="section-text align-center display-1">
        <strong>Technical</strong>
      </div>
      <hr class="line" style="width: 100%;">
    </div>
  </div>
</section>

<div class="card-container">
  <!--Manipulator-->
  <section class="header3 leadership-card cid-s9uoswRMBJ" id="header3-47">
    <div class="container">
      <div class="leadership-holder">
        <img src="/assets/images/2024-2025/Leadership/andrew_vp_2024_25.JPG" alt="Andrew Stepp" title="Andrew Stepp">
      </div>
      <div class="media-content">
        <div class="mbr-section-text mbr-white pb-3 ">
          <p class="text display-10"><strong>Andrew Stepp</strong></p>
          <p class="text display-5">
            <strong>Position:</strong> VP of Manipulator
            <br><strong>Grade:</strong> Senior
          </p>
          <p class="text display-3">
            <strong>Why did you join the team?</strong>
            <br>I joined because the only two people I know going into highschool were planning on joining and I had nothing better to do.
            <br><strong>Why did you want to be a part of the leadership?</strong>
            <br>I wanted to become part of leadership to help improve parts of the team I saw as improvable, and leave a permanent positive mark on the team.
            <br><strong>What is your favorite team memory?</strong>
            <br>My favorite memory is the 2023 Colorado regional. Between the team social and the actual competition it was the most fun I've ever had and one of the most memorable experiences of my life.
          </p>
        </div>
      </div>
    </div>
  </section>

  <!--Mobility-->
  <section class="header3 leadership-card cid-s9uoswRMBJ" id="header3-47">
    <div class="container">
      <div class="leadership-holder">
        <img src="/assets/images/2024-2025/Leadership/elliot_vp_2024_25.JPG" alt="Elliot Rutberg" title="Elliot Rutberg">
      </div>
      <div class="media-content">
        <div class="mbr-section-text mbr-white pb-3 ">
          <p class="text display-10"><strong>Elliot Rutberg</strong></p>
          <p class="text display-5">
            <strong>Position:</strong> VP of Mobility
            <br><strong>Grade:</strong> Junior
          </p>
          <p class="text display-3">
            <strong>Why did you join the team?</strong>
            <br>I joined because I thought it'd be fun to build robots, I've always like engineering and wanted a way to explore the subject more.
            <br><strong>Why did you want to be a part of the leadership?</strong>
            <br>When I joined the team I was always entranced by the creation of the robot and how it went from words or pictures on a screen to an actual working robot. I became a part of leadership to be more involved with that process and to help other people get involved with it.
            <br><strong>What is your favorite team memory?</strong>
            <br>At scrimmage (an event that we host every year before competition so other team is can practice on a real field) I was able to watch the robot's climbing mechanism that I helped design and build work. I've never felt such pure satisfaction as I did when I saw it work.
          </p>
        </div>
      </div>
    </div>
  </section>

  <!--Programming-->
  <section class="header3 leadership-card cid-s9uoswRMBJ" id="header3-47">
    <div class="container">
      <div class="leadership-holder">
        <img src="/assets/images/2024-2025/Leadership/Christian.JPG" alt="Christian Moro" title="Christian Moro">
      </div>
      <div class="media-content">
        <div class="mbr-section-text mbr-white pb-3 ">
          <p class="text display-10"><strong>Christian Moro</strong></p>
          <p class="text display-5">
            <strong>Position:</strong> VP of Programming
            <br><strong>Grade:</strong> Senior
          </p>
          <p class="text display-3">
            <strong>Why did you join the team?</strong>
            <br>I’ve always loved STEM, and robotics really scratched that hands-on itch.
            <br><strong>Why did you want to be a part of the leadership?</strong>
            <br>I wanted to really make a difference on the team with my skill set, so leadership seemed like the right place for me.
            <br><strong>What is your favorite team memory?</strong>
            <br>My favorite team memory was when a bunch of us went to Tuk-Tuk’s at the Utah regional and had a blast hanging out and eating delicious food. 
          </p>
        </div>
      </div>
    </div>
  </section>

  <!--Electronics-->
  <section class="header3 leadership-card cid-s9uoswRMBJ" id="header3-47">
    <div class="container">
      <div class="leadership-holder">
        <img src="/assets/images/2024-2025/Leadership/dakota_vp_2024_25.JPG" alt="Dakota Vissarriagas" title="Dakota Vissarriagas">
      </div>
      <div class="media-content">
        <div class="mbr-section-text mbr-white pb-3 ">
          <p class="text display-10"><strong>Dakota Vissarriagas</strong></p>
          <p class="text display-5">
            <strong>Position:</strong> VP of Electronics
            <br><strong>Grade:</strong> Senior
          </p>
          <p class="text display-3">
            <strong>Why did you join the team?</strong>
            <br>I've always had an interest in robotics when I was growing up so the moment I learned about this team I jumped up to join. 
            <br><strong>Why did you want to be a part of the leadership?</strong>
            <br>I wanted to join the leadership team for the Robotics Team 2996 because I’m passionate about helping others grow and learn. The opportunity to guide and mentor team members as they develop their skills and achieve their goals is incredibly rewarding. By taking on a leadership role, I aim to create an environment where everyone feels supported and inspired to reach their full potential. 
            <br><strong>What is your favorite team memory?</strong>
            <br>My favorite memory on this team is definitely the first Saturday of build season specifically at lunch. The whole team sits together laughing having fun and eating and during this time you can really see how close each member is with the team.
          </p>
        </div>
      </div>
    </div>
  </section>

  <!--Systems Int.-->
  <section class="header3 leadership-card cid-s9uoswRMBJ" id="header3-47">
    <div class="container">
      <div class="leadership-holder">
        <img src="/assets/images/2024-2025/Leadership/beck_vp_2024_25.JPG" alt="Beck Brau" title="Beck Brau">
      </div>
      <div class="media-content">
        <div class="mbr-section-text mbr-white pb-3 ">
          <p class="text display-10"><strong>Beck Brau</strong></p>
          <p class="text display-5">
            <strong>Position:</strong> VP of Systems Integration
            <br><strong>Grade:</strong> Junior
          </p>
          <p class="text display-3">
            <strong>Why did you join the team?</strong>
            <br>My brother made me go to the first meeting and then I fell in love with the team and engineering.
            <br><strong>Why did you want to be a part of the leadership?</strong>
            <br>To aspire to be the leader that I looked up to.
            <br><strong>What is your favorite team memory?</strong>
            <br>2023 Colorado regional, lower bracket playoffs match 12, what a doozie.
          </p>
        </div>
      </div>
    </div>
  </section>

  <!--Special Projects-->
  <section class="header3 leadership-card cid-s9uoswRMBJ" id="header3-47">
    <div class="container">
      <div class="leadership-holder">
        <img src="/assets/images/2024-2025/Leadership/jasmine_vp_2024_25.JPG" alt="Jasmine Cole" title="Jasmine Cole">
      </div>
      <div class="media-content">
        <div class="mbr-section-text mbr-white pb-3 ">
          <p class="text display-10"><strong>Jasmine Cole</strong></p>
          <p class="text display-5">
            <strong>Position:</strong> VP of Special Projects
            <br><strong>Grade:</strong> Senior
          </p>
          <p class="text display-3">
            <strong>Why did you join the team?</strong>
            <br>The first few weeks my freshman year, I heard about it on the announcements and through my engineering class and thought it would be interesting to put myself out there into something new. 
            <br><strong>Why did you want to be a part of the leadership?</strong>
            <br>After already spending half my time of high school being on special projects, I just knew I wanted to contribute to the team more in some way, and deciding to apply for leadership was the greatest option. I also knew I would gain some of the greatest leadership experience I would need for college and beyond from contributing to the team more.
            <br><strong>What is your favorite team memory?</strong>
            <br>The 2023 Denver regional team social was one of the greatest memories I have since that was the first time I ever was in anything like that. Socializing with the other teams and teaching and learning new dances from other teams was such a different and amazing experience.
          </p>
        </div>
      </div>
    </div>
  </section>
</div>
