---
layout: default.html
title: Memorial
permalink: /memorial/
is_draft: true

data: {
  subtitle: In Memoriam of Dr. John Jay Wood
}
---

<section class="mbr-section content4 cid-saMQpgfF1q" id="content4-5p" style="background-color: rgb(255,255,255)">
  <div class="container">
    <div class="media-container-row">
      <div class="title col-12 col-md-8">
        <h3 class="display-5 section-paragraph light align-center">On August 9th of 2014, we lost our beloved mentor, Dr. John Jay Wood and his wife Reisa Wood in a small aircraft accident in Iowa. He taught at the Air Force Academy as the head of the Department of Engineering Mechanics for 16 years and he was a mentor for Team 2996 since our rookie year in 2009. His dedication, intelligence, and love motivated everyone on the team to do their best. He inspired new passion for STEM everyday he volunteered for our team and influenced the lives of all the students he met.</h3>
        <p></p>
      </div>
    </div>
  </div>
</section>

<section class="mbr-gallery gallery5 cid-s9tSXq9tRu" id="gallery5-3n">
  <div class="container">
    <div class="row mbr-gallery" data-toggle="modal" data-target="#saNclXKCwU">
      <div class="col-sm-6 col-md-4 col-lg-3 item gallery-image">
        <div class="item-wrapper">
          <img class="w-100" src="/assets/images/memorial_page/dr_wood_1@510x340.jpg" alt="Dr. Wood with Mentors" data-slide-to="0"
            title="Dr. Wood with Mentors" data-target="#saNclXKzsK">
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3 item gallery-image">
        <div class="item-wrapper">
          <img class="w-100" src="/assets/images/memorial_page/dr_wood_2@510x340.jpg" alt="Dr. Wood with Grace Wilson"
            data-slide-to="1" title="Dr. Wood with Grace Wilson" data-target="#saNclXKzsK">
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3 item gallery-image">
        <div class="item-wrapper">
          <img class="w-100" src="/assets/images/memorial_page/dr_wood_3@510x340.jpg"
            alt="Dr. Wood Presenting" data-slide-to="2" title="Dr. Wood Presenting"
            data-target="#saNclXKzsK">
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3 item gallery-image">
        <div class="item-wrapper">
          <img class="w-100" src="/assets/images/memorial_page/dr_wood_5@510x340.jpg" alt="Dr. Wood our first year" data-slide-to="3"
            title="Dr. Wood our First Year" data-target="#saNclXKzsK">
        </div>
      </div>
    </div>
    <div class="modal mbr-slider fade" tabindex="-1" role="dialog" aria-hidden="true" id="saNclXKCwU">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <div class="carousel slide" data-ride="carousel" id="saNclXKzsK">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img class="w-100" src="/assets/images/memorial_page/dr_wood_1@510x340.jpg" alt="Dr. Wood with Mentors" data-slide-to="0"
                    title="Dr. Wood with Mentors" data-target="#saNclXKzsK">
                </div>
                <div class="carousel-item">
                  <img class="w-100" src="/assets/images/memorial_page/dr_wood_2@510x340.jpg" alt="Dr. Wood with Grace Wilson"
                    data-slide-to="1" title="Dr. Wood with Grace Wilson" data-target="#saNclXKzsK">
                </div>
                <div class="carousel-item">
                  <img class="w-100" src="/assets/images/memorial_page/dr_wood_3@510x340.jpg"
                    alt="Dr. Wood Presenting" data-slide-to="2" title="Dr. Wood Presenting"
                    data-target="#saNclXKzsK">
                </div>
                <div class="carousel-item">
                  <img class="w-100" src="/assets/images/memorial_page/dr_wood_5@510x340.jpg" alt="Dr. Wood our first year" data-slide-to="3"
                    title="Dr. Wood our First Year" data-target="#saNclXKzsK">
                </div>
                <ol class="carousel-indicators">
                  <li data-slide-to="0" class="active" data-target="#saNclXKzsK"></li>
                  <li data-slide-to="1" data-target="#saNclXKzsK"></li>
                  <li data-slide-to="2" data-target="#saNclXKzsK"></li>
                  <li data-slide-to="3" data-target="#saNclXKzsK"></li>
                  <li data-slide-to="4" data-target="#saNclXKzsK"></li>
                </ol>
                <a role="button" href="" class="close" data-dismiss="modal" aria-label="Close">
                </a>
                <a class="carousel-control-prev carousel-control" role="button" data-slide="prev"
                  href="#saNclXKzsK">
                  <span class="mbri-left mbr-iconfont" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next carousel-control" role="button" data-slide="next"
                  href="#saNclXKzsK">
                  <span class="mbri-right mbr-iconfont" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="mbr-section article content9 cid-sa1btF8u8n" id="content9-6f">
  <div class="container">
    <div class="inner-container" style="width: 100%;">
      <hr class="line" style="width: 50%;">
      <div class="section-text align-center display-3">“I have been lucky enough to know him for some time now, and I can honestly say that he had a huge impact on my life. Every night during build season I would see him and he would manage to smile back at me no matter what. The team won’t be the same without him. It’ll keep on thriving, but it’s a void that will never be filled. We’re going to miss him a lot.<br><br>-Tracey Jaron, 2015 CEO”</div>
    </div>
  </div>
  <div class="container">
    <div class="inner-container" style="width: 100%;">
      <div class="section-text align-center display-3">“Everyday, he taught me something new; from technical expertise, to career advice, to insight on life, his lessons quickly became who I was. From him I learned to value volunteerism, compassion, and dedication. For three years of my high school career he was my biggest role model. Dr. Wood was a selfless man and possessed a true passion for engineering. His memory will always live on through the valuable lessons he has taught me and his countless cadets and students. Having known him, I am a better person, and because of him, I know that engineering is my passion too.<br><br>-Grace Wilson, 2015 VP of Community Outreach””</div>
      <hr class="line" style="width: 50%;">
    </div>
  </div>
</section>
