---
layout: default.html
title: Mentors
permalink: /mentors/
---

<!-- <div class="card-container"> -->
<section class="header3 featured-card card-container cid-s9uoswRMBJ" id="header3-47">
  <div class="leadership-holder">
    <img src="/assets/images/mentors/MR MCLEAN.JPG" alt="Bryce McLean" title="Bryce McLean">
  </div>
  <div class="media-content">
    <div class="mbr-section-text mbr-white pb-3 ">
      <p class="text display-10"><strong>Bryce McLean</strong></p>
      <p class="text display-5">
        <strong>Head Coach</strong>
      </p>
      <!-- <p class="text display-3">
        <strong>Why did you join the team?</strong>
        <br>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.
        <br><strong>Why did you want to become a VP?</strong>
        <br>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magnam aliquam quaerat voluptatem. ut enim virtutes, de quibus et ab antiquis, ad arbitrium suum scribere? quodsi.
        <br><strong>What is your favorite team memory?</strong>
        <br>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magnam aliquam quaerat voluptatem. ut enim virtutes, de quibus et ab Epicuro scriptum est et expedita distinctio. nam libero tempore, cum soluta nobis est eligendi optio, cumque nihil impedit, quo minus animus a.
      </p> -->
    </div>
  </div>
</section>
<!-- </div> -->

<div class="card-container">
  <section class="header3 leadership-card cid-s9uoswRMBJ" id="header3-47">
    <div class="container">
      <div class="leadership-holder">
        <img src="/assets/images/mentors/MR MURPHEY.JPG" alt="David Murphy" title="David Murphy">
      </div>
      <div class="media-content">
        <div class="mbr-section-text mbr-white pb-3 ">
          <p class="text display-10"><strong>David Murphy</strong></p>
          <!-- <p class="text display-3">
            <strong>Why did you join the team?</strong>
            <br>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.
            <br><strong>Why did you want to become a VP?</strong>
            <br>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magnam aliquam quaerat voluptatem. ut enim virtutes, de quibus et ab antiquis, ad arbitrium suum scribere? quodsi.
            <br><strong>What is your favorite team memory?</strong>
            <br>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magnam aliquam quaerat voluptatem. ut enim virtutes, de quibus et ab Epicuro scriptum est et expedita distinctio. nam libero tempore, cum soluta nobis est eligendi optio, cumque nihil impedit, quo minus animus a.
          </p> -->
        </div>
      </div>
    </div>
  </section>

  <section class="header3 leadership-card cid-s9uoswRMBJ" id="header3-47">
    <div class="container">
      <div class="leadership-holder">
        <img src="/assets/images/mentors/MR C.JPG" alt=" Joe Czechowski" title=" Joe Czechowski">
      </div>
      <div class="media-content">
        <div class="mbr-section-text mbr-white pb-3 ">
          <p class="text display-10"><strong> Joe Czechowski</strong></p>
          <!-- <p class="text display-3">
            <strong>Why did you join the team?</strong>
            <br>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.
            <br><strong>Why did you want to become a VP?</strong>
            <br>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magnam aliquam quaerat voluptatem. ut enim virtutes, de quibus et ab antiquis, ad arbitrium suum scribere? quodsi.
            <br><strong>What is your favorite team memory?</strong>
            <br>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magnam aliquam quaerat voluptatem. ut enim virtutes, de quibus et ab Epicuro scriptum est et expedita distinctio. nam libero tempore, cum soluta nobis est eligendi optio, cumque nihil impedit, quo minus animus a.
          </p> -->
        </div>
      </div>
    </div>
  </section>

  <section class="header3 leadership-card cid-s9uoswRMBJ" id="header3-47">
    <div class="container">
      <div class="leadership-holder">
        <img src="/assets/images/mentors/MrOtt.jpg" alt="George Ott" title="George Ott">
      </div>
      <div class="media-content">
        <div class="mbr-section-text mbr-white pb-3 ">
          <p class="text display-10"><strong>George Ott</strong></p>
          <!-- <p class="text display-3">
            <strong>Why did you join the team?</strong>
            <br>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.
            <br><strong>Why did you want to become a VP?</strong>
            <br>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magnam aliquam quaerat voluptatem. ut enim virtutes, de quibus et ab antiquis, ad arbitrium suum scribere? quodsi.
            <br><strong>What is your favorite team memory?</strong>
            <br>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magnam aliquam quaerat voluptatem. ut enim virtutes, de quibus et ab Epicuro scriptum est et expedita distinctio. nam libero tempore, cum soluta nobis est eligendi optio, cumque nihil impedit, quo minus animus a.
          </p> -->
        </div>
      </div>
    </div>
  </section>

  <section class="header3 leadership-card cid-s9uoswRMBJ" id="header3-47">
    <div class="container">
      <div class="leadership-holder">
        <img src="/assets/images/mentors/IMG_3671.JPG" alt="Cynthia Bernard" title="Cynthia Bernard">
      </div>
      <div class="media-content">
        <div class="mbr-section-text mbr-white pb-3 ">
          <p class="text display-10"><strong>Cynthia Bernard</strong></p>
          <!-- <p class="text display-3">
            <strong>Why did you join the team?</strong>
            <br>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.
            <br><strong>Why did you want to become a VP?</strong>
            <br>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magnam aliquam quaerat voluptatem. ut enim virtutes, de quibus et ab antiquis, ad arbitrium suum scribere? quodsi.
            <br><strong>What is your favorite team memory?</strong>
            <br>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magnam aliquam quaerat voluptatem. ut enim virtutes, de quibus et ab Epicuro scriptum est et expedita distinctio. nam libero tempore, cum soluta nobis est eligendi optio, cumque nihil impedit, quo minus animus a.
          </p> -->
        </div>
      </div>
    </div>
  </section>

  <section class="header3 leadership-card cid-s9uoswRMBJ" id="header3-47">
    <div class="container">
      <div class="leadership-holder">
        <img src="/assets/images/mentors/MR BENARD.JPG" alt="Patrick Bernard" title="Patrick Bernard">
      </div>
      <div class="media-content">
        <div class="mbr-section-text mbr-white pb-3 ">
          <p class="text display-10"><strong>Patrick Bernard</strong></p>
          <!-- <p class="text display-3">
            <strong>Why did you join the team?</strong>
            <br>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.
            <br><strong>Why did you want to become a VP?</strong>
            <br>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magnam aliquam quaerat voluptatem. ut enim virtutes, de quibus et ab antiquis, ad arbitrium suum scribere? quodsi.
            <br><strong>What is your favorite team memory?</strong>
            <br>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magnam aliquam quaerat voluptatem. ut enim virtutes, de quibus et ab Epicuro scriptum est et expedita distinctio. nam libero tempore, cum soluta nobis est eligendi optio, cumque nihil impedit, quo minus animus a.
          </p> -->
        </div>
      </div>
    </div>
  </section>

  <section class="header3 leadership-card cid-s9uoswRMBJ" id="header3-47">
    <div class="container">
      <div class="leadership-holder">
        <img src="/assets/images/mentors/IMG_3681.JPG" alt="Ryan Kight" title="Ryan Kight">
      </div>
      <div class="media-content">
        <div class="mbr-section-text mbr-white pb-3 ">
          <p class="text display-10"><strong>Ryan Kight</strong></p>
          <!-- <p class="text display-3">
            <strong>Why did you join the team?</strong>
            <br>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.
            <br><strong>Why did you want to become a VP?</strong>
            <br>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magnam aliquam quaerat voluptatem. ut enim virtutes, de quibus et ab antiquis, ad arbitrium suum scribere? quodsi.
            <br><strong>What is your favorite team memory?</strong>
            <br>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magnam aliquam quaerat voluptatem. ut enim virtutes, de quibus et ab Epicuro scriptum est et expedita distinctio. nam libero tempore, cum soluta nobis est eligendi optio, cumque nihil impedit, quo minus animus a.
          </p> -->
        </div>
      </div>
    </div>
  </section>

  <section class="header3 leadership-card cid-s9uoswRMBJ" id="header3-47">
    <div class="container">
      <div class="leadership-holder">
        <img src="/assets/images/mentors/ERIC.jpg" alt="Eric Luther" title="Eric Luther">
      </div>
      <div class="media-content">
        <div class="mbr-section-text mbr-white pb-3 ">
          <p class="text display-10"><strong>Eric Luther</strong></p>
          <!-- <p class="text display-3">
            <strong>Why did you join the team?</strong>
            <br>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.
            <br><strong>Why did you want to become a VP?</strong>
            <br>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magnam aliquam quaerat voluptatem. ut enim virtutes, de quibus et ab antiquis, ad arbitrium suum scribere? quodsi.
            <br><strong>What is your favorite team memory?</strong>
            <br>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magnam aliquam quaerat voluptatem. ut enim virtutes, de quibus et ab Epicuro scriptum est et expedita distinctio. nam libero tempore, cum soluta nobis est eligendi optio, cumque nihil impedit, quo minus animus a.
          </p> -->
        </div>
      </div>
    </div>
  </section>

  <section class="header3 leadership-card cid-s9uoswRMBJ" id="header3-47">
    <div class="container">
      <div class="leadership-holder">
        <img src="/assets/images/mentors/IMG_3666.JPG" alt="Troy Van Caster" title="Troy Van Caster">
      </div>
      <div class="media-content">
        <div class="mbr-section-text mbr-white pb-3 ">
          <p class="text display-10"><strong>Troy Van Caster</strong></p>
          <!-- <p class="text display-3">
            <strong>Why did you join the team?</strong>
            <br>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.
            <br><strong>Why did you want to become a VP?</strong>
            <br>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magnam aliquam quaerat voluptatem. ut enim virtutes, de quibus et ab antiquis, ad arbitrium suum scribere? quodsi.
            <br><strong>What is your favorite team memory?</strong>
            <br>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magnam aliquam quaerat voluptatem. ut enim virtutes, de quibus et ab Epicuro scriptum est et expedita distinctio. nam libero tempore, cum soluta nobis est eligendi optio, cumque nihil impedit, quo minus animus a.
          </p> -->
        </div>
      </div>
    </div>
  </section>

  <section class="header3 leadership-card cid-s9uoswRMBJ" id="header3-47">
    <div class="container">
      <div class="leadership-holder">
        <img src="/assets/images/leadership/2022_leadership_placeholder.png" alt="Nathan Silverman" title="Nathan Silverman">
      </div>
      <div class="media-content">
        <div class="mbr-section-text mbr-white pb-3 ">
          <p class="text display-10"><strong>Caleb Hayes</strong></p>
          <!-- <p class="text display-3">
            <strong>Why did you join the team?</strong>
            <br>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.
            <br><strong>Why did you want to become a VP?</strong>
            <br>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magnam aliquam quaerat voluptatem. ut enim virtutes, de quibus et ab antiquis, ad arbitrium suum scribere? quodsi.
            <br><strong>What is your favorite team memory?</strong>
            <br>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magnam aliquam quaerat voluptatem. ut enim virtutes, de quibus et ab Epicuro scriptum est et expedita distinctio. nam libero tempore, cum soluta nobis est eligendi optio, cumque nihil impedit, quo minus animus a.
          </p> -->
        </div>
      </div>
    </div>
  </section>

  <section class="header3 leadership-card cid-s9uoswRMBJ" id="header3-47">
    <div class="container">
      <div class="leadership-holder">
        <img src="/assets/images/mentors/MR WORBY (2).JPG" alt="Brian Worby" title="Brian Worby">
      </div>
      <div class="media-content">
        <div class="mbr-section-text mbr-white pb-3 ">
          <p class="text display-10"><strong>Brian Worby</strong></p>
          <!-- <p class="text display-3">
            <strong>Why did you join the team?</strong>
            <br>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.
            <br><strong>Why did you want to become a VP?</strong>
            <br>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magnam aliquam quaerat voluptatem. ut enim virtutes, de quibus et ab antiquis, ad arbitrium suum scribere? quodsi.
            <br><strong>What is your favorite team memory?</strong>
            <br>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magnam aliquam quaerat voluptatem. ut enim virtutes, de quibus et ab Epicuro scriptum est et expedita distinctio. nam libero tempore, cum soluta nobis est eligendi optio, cumque nihil impedit, quo minus animus a.
          </p> -->
        </div>
      </div>
    </div>
  </section>

  <section class="header3 leadership-card cid-s9uoswRMBJ" id="header3-47">
    <div class="container">
      <div class="leadership-holder">
        <img src="/assets/images/leadership/2022_leadership_placeholder.png" alt="Robert Dawkins" title="Robert Dawkins">
      </div>
      <div class="media-content">
        <div class="mbr-section-text mbr-white pb-3 ">
          <p class="text display-10"><strong>Robert Dawkins</strong></p>
          <!-- <p class="text display-3">
            <strong>Why did you join the team?</strong>
            <br>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.
            <br><strong>Why did you want to become a VP?</strong>
            <br>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magnam aliquam quaerat voluptatem. ut enim virtutes, de quibus et ab antiquis, ad arbitrium suum scribere? quodsi.
            <br><strong>What is your favorite team memory?</strong>
            <br>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magnam aliquam quaerat voluptatem. ut enim virtutes, de quibus et ab Epicuro scriptum est et expedita distinctio. nam libero tempore, cum soluta nobis est eligendi optio, cumque nihil impedit, quo minus animus a.
          </p> -->
        </div>
      </div>
    </div>
  </section>

  <section class="header3 leadership-card cid-s9uoswRMBJ" id="header3-47">
    <div class="container">
      <div class="leadership-holder">
        <img src="/assets/images/leadership/2022_leadership_placeholder.png" alt="David Merz" title="David Merz">
      </div>
      <div class="media-content">
        <div class="mbr-section-text mbr-white pb-3 ">
          <p class="text display-10"><strong>David Merz</strong></p>
          <!-- <p class="text display-3">
            <strong>Why did you join the team?</strong>
            <br>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.
            <br><strong>Why did you want to become a VP?</strong>
            <br>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magnam aliquam quaerat voluptatem. ut enim virtutes, de quibus et ab antiquis, ad arbitrium suum scribere? quodsi.
            <br><strong>What is your favorite team memory?</strong>
            <br>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magnam aliquam quaerat voluptatem. ut enim virtutes, de quibus et ab Epicuro scriptum est et expedita distinctio. nam libero tempore, cum soluta nobis est eligendi optio, cumque nihil impedit, quo minus animus a.
          </p> -->
        </div>
      </div>
    </div>
  </section>

  <section class="header3 leadership-card cid-s9uoswRMBJ" id="header3-47">
    <div class="container">
      <div class="leadership-holder">
        <img src="/assets/images/mentors/MS WILLIAMS.JPG" alt="Lynne Williams" title="Lynne Williams">
      </div>
      <div class="media-content">
        <div class="mbr-section-text mbr-white pb-3 ">
          <p class="text display-10"><strong>Lynne Williams</strong></p>
          <!-- <p class="text display-3">
            <strong>Why did you join the team?</strong>
            <br>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.
            <br><strong>Why did you want to become a VP?</strong>
            <br>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magnam aliquam quaerat voluptatem. ut enim virtutes, de quibus et ab antiquis, ad arbitrium suum scribere? quodsi.
            <br><strong>What is your favorite team memory?</strong>
            <br>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magnam aliquam quaerat voluptatem. ut enim virtutes, de quibus et ab Epicuro scriptum est et expedita distinctio. nam libero tempore, cum soluta nobis est eligendi optio, cumque nihil impedit, quo minus animus a.
          </p> -->
        </div>
      </div>
    </div>
  </section>

  <section class="header3 leadership-card cid-s9uoswRMBJ" id="header3-47">
    <div class="container">
      <div class="leadership-holder">
        <img src="/assets/images/leadership/2022_leadership_placeholder.png" alt="Joseph Merkling" title="Joseph Merkling">
      </div>
      <div class="media-content">
        <div class="mbr-section-text mbr-white pb-3 ">
          <p class="text display-10"><strong>Joseph Merkling</strong></p>
          <!-- <p class="text display-3">
            <strong>Why did you join the team?</strong>
            <br>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.
            <br><strong>Why did you want to become a VP?</strong>
            <br>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magnam aliquam quaerat voluptatem. ut enim virtutes, de quibus et ab antiquis, ad arbitrium suum scribere? quodsi.
            <br><strong>What is your favorite team memory?</strong>
            <br>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magnam aliquam quaerat voluptatem. ut enim virtutes, de quibus et ab Epicuro scriptum est et expedita distinctio. nam libero tempore, cum soluta nobis est eligendi optio, cumque nihil impedit, quo minus animus a.
          </p> -->
        </div>
      </div>
    </div>
  </section>
</div>
