---
layout: default.html
title: Resources
permalink: /resources/
---

<section class="mbr-section content4 cid-saqPCMmTIm" id="content4-6o">
  <div class="container">
    <div class="media-container-row">
      <div class="title col-12 col-md-8">
        <div class="mbr-section-btn align-center py-4">
          <a class="btn btn-black-outline display-4" href="/assets/files/Cougars Gone Wired Handbook 2022-23.pdf"
            target="_blank">
            <span class="mobi-mbri mobi-mbri-file mbr-iconfont mbr-iconfont-btn"
              style="font-size: 16px; color: rgb(204, 0, 0);"></span>
            STUDENT HANDBOOK
          </a>
          <a class="btn btn-black-outline display-4" href="/assets/files/Mentor-Handbook.pdf"
            target="_blank">
            <span class="mobi-mbri mobi-mbri-file mbr-iconfont mbr-iconfont-btn"
              style="font-size: 16px; color: rgb(204, 0, 0);"></span>
            MENTOR HANDBOOK
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="mbr-section content4 cid-saBxXBRZQC" id="content4-75">
  <div class="container">
    <div class="media-container-row">
      <div class="title col-12 col-md-8">
        <h2 class="align-center pb-3 display-2">FIRST Resources and Links</h2>
        <h3 class="section-subtitle align-center light display-5">
          <p>FIRST Website - <a href="https://www.firstinspires.org/" target="_blank"
            rel="noopener">https://www.firstinspires.org/</a></p>
          <hr>
          <p>Chief Delphi - <a href="https://www.chiefdelphi.com/forums/portal.php" target="_blank"
              rel="noopener">https://www.chiefdelphi.com/forums/portal.php</a></p>
          <hr>
          <p>The Blue Alliance - <a href="https://www.thebluealliance.com/" target="_blank"
              rel="noopener">https://www.thebluealliance.com/</a></p>
          <hr>
          <p>Kit Of Parts (KOP) - <a href="https://www.firstinspires.org/robotics/frc/kit-of-parts" target="_blank"
              rel="noopener">https://www.firstinspires.org/robotics/frc/kit-of-parts</a></p>
          <hr>
          <p>AndyMark - <a href="https://www.andymark.com/" target="_blank"
            rel="noopener">https://www.andymark.com/</a></p>
          <hr>
          <p>Open Alliance - <a href="https://www.theopenalliance.com/" target="_blank"
            rel="noopener">https://www.theopenalliance.com/</a></p>
          <hr>
        </h3>
      </div>
    </div>
  </div>
</section>

<section class="mbr-section content4 cid-saBDn1O6rC" id="content4-77">
  <div class="container">
    <div class="media-container-row">
      <div class="title col-12 col-md-8">
        <h2 class="align-center pb-3 display-2">Team 2996 Links</h2>
        <h3 class="section-subtitle align-center light display-5">
          <p>Youtube - <a href="https://www.youtube.com/user/FRC2996" target="_blank"
              rel="noopener">https://www.youtube.com/user/FRC2996</a></p>
          <hr>
          <p>Twitter - <a href="https://twitter.com/frc2996" target="_blank"
              rel="noopener">https://twitter.com/frc2996</a></p>
          <hr>
          <p>Instagram- <a href="https://www.instagram.com/cougarsgonewired/" target="_blank"
              rel="noopener">https://www.instagram.com/cougarsgonewired/</a></p>
          <hr>
          <p>Facebook - <a href="https://www.facebook.com/CougarsGoneWired/" target="_blank"
              rel="noopener">https://www.facebook.com/CougarsGoneWired/</a></p>
          <hr>
          <p>Open Alliance 2024 Build Thread - <a href="https://www.chiefdelphi.com/t/frc-2996-cougars-gone-wired-2024-build-thread-open-alliance/440496" target="_blank"
              rel="noopener">https://www.chiefdelphi.com/t/frc-2996-cougars-gone-wired-2024-build-thread-open-alliance/440496</a></p>
          <hr>
          <p>GitLab - <a href="https://gitlab.com/cougars-gone-wired" target="_blank"
              rel="noopener">https://gitlab.com/cougars-gone-wired</a></p>
          <hr>
          <p>2996 Blue Alliance - <a href="https://www.thebluealliance.com/team/2996" target="_blank"
              rel="noopener">https://www.thebluealliance.com/team/2996</a></p>
          <hr>
        </h3>
      </div>
    </div>
  </div>
</section>

<section class="mbr-section content4 cid-saByGMWXk6" id="content4-76">
  <div class="container">
    <div class="media-container-row">
      <div class="title col-12 col-md-8">
        <h2 class="align-center pb-3 display-2">Map of FRC Teams</h2>
        <div class="html"><iframe frameborder="0" style="border:0" width="700" height="600"
          src="https://frcmap.com/"
          allowfullscreen=""></iframe></div>
      </div>
    </div>
  </div>
</section>

</body>

</html>
