---
layout: default.html
title: Scrimmage
permalink: /scrimmage/
---

<section>
  <div class="media-container-row">
    <div class="scrimmage-margin leadership-holder">
      <img src="/assets/images/2024-2025/Scrimmage24-2.JPG">
    </div>
    <div class="scrimmage-margin align-center section-margin">
      <p class="text display-5">
        Team 2996 Cougars Gone Wired is excited to be hosting the
        pre-competition Scrimmage! This opportunity allows teams to test their
        robots on a full field prior to the beginning of competition.
      </p>
      <p class="text display-5 align-center">
        <p class="text display-5 align-center"><strong>When: </strong>February 22, 2025 </p>
        <p class="text display-5 align-center"><strong>Where: </strong>1590 W. Fillmore Street, Colorado Springs, Colorado, 80904</p>
        <p class="text display-5 align-center">Keep up with Team 2996 for any updates through our social media or <a href="/contact/">contact us</a> if you have any questions.</p>
      </p>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row mbr-gallery" data-toggle="modal" data-target="#saDtlRKfHg">
      <div class="col-sm-7 col-md-5 col-lg-4 item gallery-image">
        <div class="item-wrapper">
          <hr class="line">
          <img class="w-100" src="/assets/images/2024-2025/Scrimmage24-1.JPG">
          <hr class="line">
        </div>
      </div>
      <div class="col-sm-7 col-md-5 col-lg-4 item gallery-image">
        <div class="item-wrapper">
          <hr class="line">
          <img class="w-100" src="/assets/images/2024-2025/Scrimmage24-3.JPG">
          <hr class="line">
        </div>
      </div>
      <hr class="line">
      <div class="col-sm-7 col-md-5 col-lg-4 item gallery-image">
        <div class="item-wrapper">
          <hr class="line">
          <img class="w-100" src="/assets/images/2024-2025/Scrimmage24-4.JPG">
          <hr class="line">
        </div>
      </div>
    </div>
  </div>
</section>
