---
layout: default.html
title: Sponsors
permalink: /sponsors/
---

<section class="mbr-section article content1 cid-s9yL5PwA8o" id="content1-5v">
  <div class="container">
    <div class="media-container-row">
      <div class="text col-12 display-5 col-md-10">
        <p>Sponsors are an integral part of Team 2996 and what we do. Our sponsors provide 
          the funds necessary to create a functioning robot each year. Because of them, we 
          can pay for all our expenses and continue to bring STEM education to our school 
          and community.</p>
      </div>
    </div>
    <div class="media-container-row">
      <div class="text col-12 display-5 col-md-10">
        <p>We benefit from any financial contributions, so if you are a company who would like to sponsor us <em>or</em> would like to donate, contact our head coach Bryce Mclean from the
          <a href="/contact/">contact us</a> page.
        </p>
      </div>
    </div>
  </div>
</section>


<section class="mbr-section content4 cid-saB2gKomUM" id="content4-6q">
  <div class="container">
    <!--VERTEC-->
    <div class="media-container-row-sponsors">
      <p>
        <!--Vertec-->
        <a href="https://www.vertectool.com/" target="_blank" rel="noopener">
          <img src="/assets/images/sponsorlogos/Vertec.png" alt="Vertec" width="600" height="105"
            longdesc="http://www.vertectool.com/">
        </a>
      </p>
    </div>

    <!--L3Harris | ENT Credit Union-->
    <div class="media-container-row-sponsors">
      <p>
        <!--L3Harris-->
        <a href="https://www.l3harris.com/" target="_blank" rel="noopener">
          <img src="/assets/images/sponsorlogos/L3HARRIS.png" alt="L3Harris" width="700" height="130"
            longdesc="https://www.l3harris.com/">
        </a>
      </p>
      <p>
        <!--ENT Credit Union-->
        <a href="https://www.ent.com/" target="_blank" rel="noopener">
          <img src="/assets/images/sponsorlogos/ENT-Credit-Union.jpg" alt="ENT Credit Union" width="350" height="130"
            longdesc="https://www.ent.com/">
        </a>
      </p>
    </div>

    <!--Two Men and a Truck | CSD11 | Gene HAAS Foundation-->
    <div class="media-container-row-sponsors">
      <!--TWO MEN AND A TRUCK-->
      <p>
        <a href="https://twomenandatruck.com/movers/co/colorado-springs" target="_blank" rel="noopener">
          <img src="/assets/images/sponsorlogos/twomenandatrucklogo.png" alt="2menandtruck" width="300" height="200"
          longdesc="https://twomenandatruck.com/movers/co/colorado-springs">
        </a>
      </p>
      <p>        
        <!--CSSD11-->
          <a href="https://d11.org/" target="_blank" rel="noopener">
            <img src="/assets/images/sponsorlogos/d11logo.png" alt="D11" width="200" height="200"
            longdesc="http://D11.org">
          </a>
        </p>
      <p>
        <!--Gene HAAS Foundation-->
        <a href="https://ghaasfoundation.org/" target="_blank" rel="noopener">
          <img src="/assets/images/sponsorlogos/HAASCNC.png" alt="Gene HAAS Foundation" width="220" height="200"
            longdesc="https://ghaasfoundation.org/">
        </a>
      </p>
    </div>

    <!--Trails End Homebuilders-->
    <div class="media-container-row-sponsors">
      <p>
        <!--Trails End Homebuilders-->
        <a href="https://www.tebuilders.com/" target="_blank" rel="noopener">
         <img src="/assets/images/sponsorlogos/trails-end-homebuilders.png" alt="Trails End Homebuilders, Inc" width="650" height="150"
           longdesc="https://www.tebuilders.com/">
        </a>
      </p>
    </div>

    <!--Foxworth Galbraith | NAWIC-->
    <div class="media-container-row-sponsors">
      <p>
        <!--Foxworth Galbraith-->
        <a href="https://www.foxgal.com/" target="_blank" rel="noopener">
         <img src="/assets/images/sponsorlogos/Foxworth-Galbraith.png" alt="Foxworth Galbraith Lumber Company" width="200" height="200"
           longdesc="https://www.foxgal.com/">
        </a>
      </p>
      <p>
        <!--NAWIC-->
        <a href="https://www.nawic.org/" target="_blank" rel="noopener">
          <img src="/assets/images/sponsorlogos/Nawic.jpg" alt="NAWIC" width="351" height="180"
            longdesc="https://www.nawic.org/" />
        </a>
      </p>
    </div>

    <!--Coronado High School-->
    <div class="media-container-row-sponsors">
      <p>
        <a href="https://coronado.d11.org/" target="_blank" rel="noopener">
        <img src="/assets/images/sponsorlogos/chs-banner.png" alt="CHS" width="750" height="127" longdesc="https://coronado.d11.org/">
        </a>
      </p>
    </div>
  </div>
</section>

<section class="mbr-section article content9 cid-s9yLDEIZd6" id="content9-5x">
  <div class="container">
    <div class="inner-container" style="width: 100%;">
      <hr class="line" style="width: 100%;">
      <div class="section-text align-center display-1"><strong>Parent&ndash;Sponsor Dinner</strong>
      </div>
      <hr class="line" style="width: 100%;">
    </div>
  </div>
</section>

<section class="section4">
  <div class="media-container-row">
    <div class="scrimmage-margin leadership-holder">
      <img src="/assets/images/2021-2022/parent_sponsor_dinner.JPG">
    </div>
    <div class="scrimmage-margin align-center section-margin">
      <p class="text display-5">
        Every year, at the end of build season, we hold a parent&ndash;sponsor dinner in honor of our wonderful
        supporters. This gives us a chance to display the fruits of our labor and the robot created from
        our sponsors' contributions.
      </p>
      <p class="text display-5">
        <strong>TBA</strong>
      </p>
      <p class="text display-5">
        <strong>1590 W. Fillmore St. Colorado Springs, CO 80904</strong>
      </p>
    </div>
  </div>
</section>


