---
layout: default.html
title: MAD Summer Camp
permalink: /summer-camp/
---

<section>
  <div class="media-container-row">
    <div class="scrimmage-margin leadership-holder">
      <img src="/assets/images/2024-2025/MAD-2024.png">
    </div>
    <div class="scrimmage-margin align-center section-margin">
      <p class="text display-5">
      Team 2996 has hosted the Making A Difference
      (MAD) Robotics Summer Camp for middle schoolers since 2016. Through the MAD Summer Camp,
      Team 2996 teaches and inspires tomorrow's leaders with exciting hands-on experience and
      engineering practice.
      </p>
      <p class="text display-5">
      <strong>Level 1</strong> of the camp utilizes the VEX IQ robotics system and students will be programming 
      using the Blocky programming language. Level 1 is meant for students that have not 
      previously participated in the M.A.D summer camp and are going into grades 6th through 9th.
      </p>
      <p class="text display-5">
      <strong>Level 2</strong> of the camp is meant for students that participated in the M.A.D summer camp in 
      previous years or have had lots of experience with the VEX IQ robotics system.
      </p>
      <p class="text display-5">
      The fee for one student is <strong>$150</strong> in both levels.
      </p>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <h2 class="display-6 align-center bold">2024 MAD Summer Camp Application is now open!<br> <a href="https://docs.google.com/forms/d/e/1FAIpQLScvh_fnfH8VI0YoKt7P_Wh6eYqal-38cQFVGmHs23w6574-zg/viewform?pli=1">Signup Sheet</a>
    </h2>
    <br>
    <!-- <p class="text display-5 align-center">
    <p class="text display-5 align-center"><strong>When: </strong>June 5th - June 9th, 1PM - 5PM</p>
    <p class="text display-5 align-center"><strong>Where: </strong>Coronado High School - 1590 W. Fillmore St. Colorado Springs, CO 80904</p>
    <p class="text display-5 align-center"><strong><a href="https://forms.gle/RF7ryq1f3QTmnnsp7">https://forms.gle/RF7ryq1f3QTmnnsp7</a></a></p>
    <p class="text display-5 align-center"> -->
      <p>Keep up with Team 2996 for any updates through our social media or <a href="contact-us">contact us</a> if you have any questions.</p>
  </div>
  <div class="container">
    <div class="row mbr-gallery" data-toggle="modal" data-target="#saDtlRKfHg">
      <div class="col-sm-7 col-md-5 col-lg-4 item gallery-image">
        <div class="item-wrapper">
          <hr class="line">
          <img class="w-100" src="/assets/images/2024-2025/MAD24-1.JPG">
          <hr class="line">
        </div>
      </div>
      <div class="col-sm-7 col-md-5 col-lg-4 item gallery-image">
        <div class="item-wrapper">
          <hr class="line">
          <img class="w-100" src="/assets/images/2024-2025/MAD24-2.JPG">
          <hr class="line">
        </div>
      </div>
      <div class="col-sm-7 col-md-5 col-lg-4 item gallery-image">
        <div class="item-wrapper">
          <hr class="line">
          <img class="w-100" src="/assets/images/2024-2025/MAD24-3.JPG">
          <hr class="line">
        </div>
      </div>
    </div>
  </div>
</section>
