---
layout: default.html
title: Team History
permalink: /about/team-history/
---
<section class="section5">
  <div class = "container">
    <div class="row justify-content-md-center">
      <div class="col-md-10 align-center">
        <h3 class="display-6 bold">Our History</h3>
        <hr class="line">
        <p class="section-paragraph pb-3">
          Our team formed in 2008 when our head coach, Bryce McLean, wanted to provide a competitive outlet to engineering students
          so that they could showcase their skills outside of school. That very first year, the team advanced to the St. Louis 
          Championships. Since then, we have grown and flourished into a passionate and driven team of future innovators.
          <br><br>
          Each dropdown below contains a picture of our robot from that year and our award submissions and achievements.
      </div>
    </div>
  </div>
</section>

<section style="margin-right:20px;margin-left:20px;">
  <button class="collapsible">2025 Season: REEFSCAPE - <span class="bold teamyellow">Coming Soon...</span></button>
  <div class="content-collapse">
    <div class="media-container-row">
      <div class="col-sm-10 col-md-10 col-lg-4 item gallery-image">
        <div class="item-wrapper">
          <p class="text display-5 align-center">"Coming Soon..."</p>
          <a href="" target="_blank"><img class="w-100" src=""></a>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-6 item gallery-image" style="max-width: 100%;">
        <div class="item-wrapper">
          <p class="text display-5 align-center"><a href="https://youtu.be/YWbxcjlY9JY" target="_blank">2025 - REEFSCAPE</a></p> <!-- Game name with link to game animation -->
          <iframe width="600" height="300"
          style="margin-left:auto;margin-right:auto;"
          src="https://youtube.com/embed/YWbxcjlY9JY">
          </iframe> 
        </div>
      </div>
    </div>
    <div class="media-container-row">
      <div class="col-sm-12 col-md-10 col-lg-4 item gallery-image display-5 pb-3">
        <hr class="line">
        <strong>Awards</strong><br>
        TBD<br>
        <br>
        <strong>Submissions</strong><br>
        <a href="/assets/files/2025-ImpactEssay.pdf" target="_blank">2025 Impact Essay</a><br>
        <a href="/assets/files/2025-ExecutiveSummaries.pdf" target="_blank">2025 Executive Summaries</a><br>
        2025 Business Plan<br>
      </div>
    </div>
  </div>

  <button class="collapsible">2024 Season: Crescendo - <span class="bold teamyellow">Audrey 2</span></button>
  <div class="content-collapse">
    <div class="media-container-row">
      <div class="col-sm-10 col-md-10 col-lg-4 item gallery-image">
        <div class="item-wrapper">
          <p class="text display-5 align-center">"Audrey 2"</p>
          <a href="/assets/images/robots/Audrey-2.JPG" target="_blank"><img class="w-100" src="/assets/images/robots/Audrey-2.JPG"></a>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-6 item gallery-image" style="max-width: 100%;">
        <div class="item-wrapper">
          <p class="text display-5 align-center"><a href="https://youtu.be/9keeDyFxzY4" target="_blank">2024 - Crescendo</a></p> <!-- Game name with link to game animation -->
          <iframe width="600" height="300"
          style="margin-left:auto;margin-right:auto;"
          src="https://youtube.com/embed/9keeDyFxzY4">
          </iframe> 
        </div>
      </div>
    </div>
    <div class="media-container-row">
      <div class="col-sm-12 col-md-10 col-lg-4 item gallery-image display-5 pb-3">
        <hr class="line">
        <strong>Awards</strong><br>
        <a>Quality Award (Green Country Regional)</a><br>
        <a>Quality Award (Colorado Regional)</a><br>
        <br>
        <strong>Submissions</strong><br>
        <a href="/assets/files/2024-ImpactEssay.pdf" target="_blank">2024 Impact Essay</a><br>
        <a href="/assets/files/2024-ExecutiveSummaries.pdf" target="_blank">2024 Executive Summaries</a><br>
        <a href="/assets/files/2024-BusinessPlan.pdf" target="_blank">2024 Business Plan</a><br>
      </div>
    </div>
  </div>

  <button class="collapsible">2023 Season: Charged Up - <span class="bold teamyellow">Arlo</span> & <span class="bold teamyellow">Spot</span></button>
  <div class="content-collapse">
    <div class="media-container-row">
      <div class="col-sm-10 col-md-10 col-lg-4 item gallery-image">
        <div class="item-wrapper">
          <p class="text display-5 align-center">"Arlo"</p>
          <a href="/assets/images/robots/Arlo.jpg" target="_blank"><img class="w-100" src="/assets/images/robots/Arlo.jpg"></a>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-6 item gallery-image" style="max-width: 100%;">
        <div class="item-wrapper">
          <p class="text display-5 align-center"><a href="https://youtu.be/0zpflsYc4PA" target="_blank">2023 - Charged Up Game Animation</a></p> <!-- Game name with link to game animation -->
          <iframe width="600" height="300"
          style="margin-left:auto;margin-right:auto;"
          src="https://youtube.com/embed/0zpflsYc4PA">
          </iframe> 
        </div>
      </div>
    </div><br>
    <div class="media-container-row" style="margin-bottom:15px;">
      <div class="col-sm-12 col-md-10 col-lg-4 item gallery-image display-5 pb-3">
        <hr class="line">
        <strong>Awards</strong><br>
        <a>Imagery Award in Honor of Jack Kamen (Utah Regional)</a><br>
        <br>
        <strong>Submissions</strong><br>
        <a href="/assets/files/2023-ImpactEssay.pdf" target="_blank">2023 Impact Essay</a><br>
        <a href="/assets/files/2023-ExecutiveSummaries.pdf" target="_blank">2023 Executive Summaries</a><br>
        <a href="/assets/files/2023-BusinessPlan.pdf" target="_blank">2023 Business Plan</a><br>
      </div>

      <div class="col-sm-10 col-md-10 col-lg-4 item gallery-image">
        <div class="item-wrapper">
          <p class="text display-5 align-center">Offseason Bot: "Spot"</p>
          <a href="/assets/images/robots/spot.jpg" target="_blank"><img class="w-100" src="/assets/images/robots/spot.jpg"></a>
        </div>
      </div>
    </div>
  </div>

  <button class="collapsible">2022 Season: Rapid React - <span class="bold teamyellow">GO-4</span> & <span class="bold teamyellow">Rico Swerve</span></button>
  <div class="content-collapse">
    <div class="media-container-row">
      <div class="col-sm-10 col-md-10 col-lg-4 item gallery-image">
        <div class="item-wrapper">
          <p class="text display-5 align-center">"GO-4"</p>
          <a href="/assets/images/robots/GO4.JPG" target="_blank"><img class="w-100" src="/assets/images/robots/GO4.JPG"></a>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-6 item gallery-image" style="max-width: 100%;">
        <div class="item-wrapper">
          <p class="text display-5 align-center"><a href="https://youtu.be/LgniEjI9cCM" target="_blank">2022 - Rapid React Game Animation</a></p> <!-- Game name with link to game animation -->
          <iframe width="600" height="300"
          style="margin-left:auto;margin-right:auto;"
          src="https://youtube.com/embed/LgniEjI9cCM">
          </iframe> 
        </div>
      </div>
    </div>
    <div class="media-container-row" style="margin-bottom:15px;">
      <div class="col-sm-12 col-md-10 col-lg-4 item gallery-image display-5 pb-3">
        <hr class="line">
        <strong>Awards</strong><br>
        <a>Team Spirit Award (Oklahoma Regional)</a><br>
        <a>Team Spirit Award (Colorado Regional)</a><br>
        <br>
        <strong>Submissions</strong><br>
        <a href="/assets/files/2022-ChairmansEssay.pdf" target="_blank">2022 Chairman's Essay</a><br>
        <a href="/assets/files/2022-ExecutiveSummaries.pdf" target="_blank">2022 Executive Summaries</a><br>
        <a href="/assets/files/2022-Business-Plan.pdf" target="_blank">2022 Business Plan</a><br>
      </div>

      <div class="col-sm-10 col-md-10 col-lg-4 item gallery-image">
        <div class="item-wrapper">
          <p class="text display-5 align-center">Offseason Bot: "Rico Swerve"</p>
          <a href="/assets/images/robots/rico.jpeg" target="_blank"><img class="w-100" src="/assets/images/robots/rico.jpeg"></a>
        </div>
      </div>
    </div>
  </div>

  <button class="collapsible">2020 Season: Infinite Recharge - <span class="bold teamyellow">Oscar</span></button>
  <div class="content-collapse">
    <div class="media-container-row">
      <div class="col-sm-10 col-md-10 col-lg-4 item gallery-image">
        <div class="item-wrapper">
          <p class="text display-5 align-center">"Oscar"</p>
          <a href="/assets/images/robots/oscar-1014x677.jpg" target="_blank"><img class="w-100" src="/assets/images/robots/oscar-1014x677.jpg"></a>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-6 item gallery-image" style="max-width: 100%;">
        <div class="item-wrapper">
          <p class="text display-5 align-center"><a href="https://youtu.be/gmiYWTmFRVE" target="_blank">2020 - Infinite Recharge</a></p> <!-- Game name with link to game animation -->
          <iframe width="600" height="300"
          style="margin-left:auto;margin-right:auto;"
          src="https://youtube.com/embed/gmiYWTmFRVE">
          </iframe> 
        </div>
      </div>
    </div><br>
    <div class="media-container-row">
      <div class="col-sm-12 col-md-10 col-lg-6 item gallery-image display-5 pb-3">
        <hr class="line">
        <strong>Awards</strong><br>
        N/A<br>
        <br>
        <strong>Submissions</strong><br>
        <a href="/assets/files/2020-ChairmansEssay.pdf" target="_blank">2020 Chairman's Essay</a><br>
        <a href="/assets/files/2020-ExecutiveSummaries.pdf" target="_blank">2020 Executive Summaries</a><br>
      </div>
    </div>
  </div>

  <button class="collapsible">2019 Season: Destination: Deep Space - <span class="bold teamyellow">Scoop</span></button>
  <div class="content-collapse">
    <div class="media-container-row">
      <div class="col-sm-10 col-md-10 col-lg-4 item gallery-image">
        <div class="item-wrapper">
          <p class="text display-5 align-center">"Scoop"</p>
          <a href="/assets/images/robots/scoop-892x595.png" target="_blank"><img class="w-100" src="/assets/images/robots/scoop-892x595.png"></a>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-6 item gallery-image" style="max-width: 100%;">
        <div class="item-wrapper">
          <p class="text display-5 align-center"><a href="https://youtu.be/Mew6G_og-PI" target="_blank">2019 - Destination: Deep Space Game Animation</a></p> <!-- Game name with link to game animation -->
          <iframe width="600" height="300"
          style="margin-left:auto;margin-right:auto;"
          src="https://youtube.com/embed/Mew6G_og-PI">
          </iframe> 
        </div>
      </div>
    </div>
    <div class="media-container-row">
      <div class="col-sm-12 col-md-10 col-lg-6 item gallery-image display-5 pb-3">
        <hr class="line">
        <strong>Awards</strong><br>
        <a>Team Spirit Award (Oklahoma Regional)</a><br>
        <a>Quality Award (Colorado Regional)</a><br>
        <a>Safety Award (Colorado Regional)</a><br>
        <a>Kendrick Castillo Robotics Invitational Winners (KCMT)</a><br>
        <br>
        <strong>Submissions</strong><br>
        <a href="/assets/files/2019-BusinessPlan.pdf" target="_blank">2019 Business Plan</a><br>
        <a href="/assets/files/2019-ChairmansEssay.pdf" target="_blank">2019 Chairman's Essay</a><br>
        <a href="/assets/files/2019-ExecutiveSummaries.pdf" target="_blank">2019 Executive Summaries</a><br>
      </div>
    </div>
  </div>

  <button class="collapsible">2018 Season: Power Up - <span class="bold teamyellow">Rocky</span></button>
  <div class="content-collapse">
    <div class="media-container-row">
      <div class="col-sm-10 col-md-10 col-lg-4 item gallery-image">
        <div class="item-wrapper">
          <p class="text display-5 align-center">"Rocky"</p>
          <a href="/assets/images/robots/rocky.JPG" target="_blank"><img class="w-100" src="/assets/images/robots/rocky.JPG"></a>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-6 item gallery-image" style="max-width: 100%;">
        <div class="item-wrapper">
          <p class="text display-5 align-center"><a href="https://youtu.be/HZbdwYiCY74" target="_blank">2018 - Power Up Game Animation</a></p> <!-- Game name with link to game animation -->
          <iframe width="600" height="300"
          style="margin-left:auto;margin-right:auto;"
          src="https://youtube.com/embed/HZbdwYiCY74">
          </iframe> 
        </div>
      </div>
    </div>
    <div class="media-container-row">
      <div class="col-sm-12 col-md-10 col-lg-6 item gallery-image display-5 pb-3">
        <hr class="line">
        <strong>Awards</strong><br>
        <a>Imagery Award (Utah Regional)</a><br>
        <a>Team Spirit Award (Colorado Regional)</a><br>
        <br>
        <strong>Submissions</strong><br>
        <a href="/assets/files/2018-BusinessPlan.pdf" target="_blank">2018 Business Plan</a><br>
        <a href="/assets/files/2018-ChairmansEssay.pdf" target="_blank">2018 Chairman's Essay</a><br>
      </div>
    </div>
  </div>

  <button class="collapsible">2017 Season: Steamworks - <span class="bold teamyellow">Thumper</span></button>
  <div class="content-collapse">
    <div class="media-container-row">
      <div class="col-sm-10 col-md-10 col-lg-4 item gallery-image">
        <div class="item-wrapper">
          <p class="text display-5 align-center">"Thumper"</p>
          <a href="/assets/images/robots/thumper-1014x742.jpg" target="_blank"><img class="w-100" src="/assets/images/robots/thumper-1014x742.jpg"></a>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-6 item gallery-image" style="max-width: 100%;">
        <div class="item-wrapper">
          <p class="text display-5 align-center"><a href="https://youtu.be/EMiNmJW7enI" target="_blank">2017 - Steamworks Game Animation</a></p> <!-- Game name with link to game animation -->
          <iframe width="600" height="300"
          style="margin-left:auto;margin-right:auto;"
          src="https://youtube.com/embed/EMiNmJW7enI">
          </iframe> 
        </div>
      </div>
    </div>
    <div class="media-container-row">
      <div class="col-sm-12 col-md-10 col-lg-6 item gallery-image display-5 pb-3">
        <hr class="line">
        <strong>Awards</strong><br>
        <a>Creativity Award (Utah Regional)</a><br>
        <a>Regional Engineering Inspiration Award (Colorado Regional)</a><br>
        <a>FIRST Deans List Finalist Award (Colorado Regional)</a><br>
        <a>Safety Award (Colorado Regional)</a><br>
        <br>
        <strong>Submissions</strong><br>
        <a href="/assets/files/2017-BusinessPlan.pdf" target="_blank">2017 Business Plan</a><br>
        <a href="/assets/files/2017-ChairmansEssay.pdf" target="_blank">2017 Chairman's Essay</a><br>
        <a href="/assets/files/2017-ExecutiveSummary.pdf" target="_blank">2017 Executive Summaries</a><br>
      </div>
    </div>
  </div>

  <button class="collapsible">2016 Season: Stronghold - <span class="bold teamyellow">Underscore</span></button>
  <div class="content-collapse">
    <div class="media-container-row">
      <div class="col-sm-10 col-md-10 col-lg-4 item gallery-image">
        <div class="item-wrapper">
          <p class="text display-5 align-center">"Underscore"</p>
          <a href="/assets/images/robots/underscore-1014x617.jpg" target="_blank"><img class="w-100" src="/assets/images/robots/underscore-1014x617.jpg"></a>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-6 item gallery-image" style="max-width: 100%;">
        <div class="item-wrapper">
          <p class="text display-5 align-center"><a href="https://youtu.be/VqOKzoHJDjA" target="_blank">2016 - Stronghold Game Animation</a></p> <!-- Game name with link to game animation -->
          <iframe width="600" height="300"
          style="margin-left:auto;margin-right:auto;"
          src="https://youtube.com/embed/VqOKzoHJDjA">
          </iframe> 
        </div>
      </div>
    </div>
    <div class="media-container-row">
      <div class="col-sm-12 col-md-10 col-lg-6 item gallery-image display-5 pb-3">
        <hr class="line">
        <strong>Awards</strong><br>
        <a>Regional Engineering Inspiration Award (Colorado Regional)</a><br>
        <a>FIRST Deans List Finalist Award (Colorado Regional)</a><br>
        <br>
        <strong>Submissions</strong><br>
        <a href="/assets/files/2016-BusinessPlan.pdf" target="_blank">2016 Business Plan</a><br>
        <a href="/assets/files/2016-ChairmansEssay.pdf" target="_blank">2016 Chairman's Essay</a><br>
        <a href="/assets/files/2016-ExecutiveSummary.pdf" target="_blank">2016 Executive Summaries</a><br>
      </div>
    </div>
  </div>

  <button class="collapsible">2015 Season: Recycle Rush - <span class="bold teamyellow">Gunther</span></button>
  <div class="content-collapse">
    <div class="media-container-row">
      <div class="col-sm-10 col-md-10 col-lg-4 item gallery-image">
        <div class="item-wrapper">
          <p class="text display-5 align-center">"Gunther"</p>
          <a href="/assets/images/robots/gunther.jpg" target="_blank"><img class="w-100" src="/assets/images/robots/gunther.jpg"></a>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-6 item gallery-image" style="max-width: 100%;">
        <div class="item-wrapper">
          <p class="text display-5 align-center"><a href="https://youtu.be/W6UYFKNGHJ8" target="_blank">2015 - Recycle Rush Game Animation</a></p> <!-- Game name with link to game animation -->
          <iframe width="600" height="300"
          style="margin-left:auto;margin-right:auto;"
          src="https://youtube.com/embed/W6UYFKNGHJ8">
          </iframe> 
        </div>
      </div>
    </div>
    <div class="media-container-row">
      <div class="col-sm-12 col-md-10 col-lg-6 item gallery-image display-5 pb-3">
        <hr class="line">
        <strong>Awards</strong><br>
        <a>Regional Engineering Inspiration Award (Utah Regional)</a><br>
        <a>Quality Award (Colorado Regional)</a><br>
        <br>
        <strong>Submissions</strong><br>
        <a href="/assets/files/2015-BusinessPlan.pdf" target="_blank">2015 Business Plan</a><br>
        <a href="/assets/files/2015-ChairmansEssay.pdf" target="_blank">2015 Chairman's Essay</a><br>
      </div>
    </div>
  </div>

  <button class="collapsible">2014 Season: Aerial Assist - <span class="bold teamyellow">Kirby</span></button>
  <div class="content-collapse">
    <div class="media-container-row">
      <div class="col-sm-10 col-md-10 col-lg-4 item gallery-image">
        <div class="item-wrapper">
          <p class="text display-5 align-center">"Kirby"</p>
          <a href="/assets/images/robots/kirby.jpg" target="_blank"><img class="w-100" src="/assets/images/robots/kirby.jpg"></a>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-6 item gallery-image" style="max-width: 100%;">
        <div class="item-wrapper">
          <p class="text display-5 align-center"><a href="https://youtu.be/oxp4dkMQ1Vo" target="_blank">2014 - Aerial Assist Game Animation</a></p> <!-- Game name with link to game animation -->
          <iframe width="600" height="300"
          style="margin-left:auto;margin-right:auto;"
          src="https://youtube.com/embed/oxp4dkMQ1Vo">
          </iframe> 
        </div>
      </div>
    </div>
    <div class="media-container-row">
      <div class="col-sm-12 col-md-10 col-lg-6 item gallery-image display-5 pb-3">
        <hr class="line">
        <strong>Awards</strong><br>
        <a>Regional Chairmans Award (Utah Regional)</a><br>
        <a>Regional Winner (Utah Regional)</a><br>
        <a>Imagery Award (Utah Regional)</a><br>
        <a>Regional Finalist (Colorado Regional)</a><br>
        <a>Team Spirit Award (Colorado Regional)</a><br>
        <br>
        <strong>Submissions</strong><br>
        <a href="/assets/files/2014-BusinessPlan.pdf" target="_blank">2014 Business Plan</a><br>
        <a href="/assets/files/2014-ChairmansEssay.pdf" target="_blank">2014 Chairman's Essay</a><br>
        <a href="/assets/files/2014-TeamSubmissionHighlights.pdf" target="_blank">2014 Team Submission Highlights</a><br>
      </div>
    </div>
  </div>

  <button class="collapsible">2013 Season: Ultimate Ascent - <span class="bold teamyellow">Sebastian</span></button>
  <div class="content-collapse">
    <div class="media-container-row">
      <div class="col-sm-10 col-md-10 col-lg-4 item gallery-image">
        <div class="item-wrapper">
          <p class="text display-5 align-center">"Sebastian"</p>
          <a href="/assets/images/robots/sebastian-958x718.jpg" target="_blank"><img class="w-100" src="/assets/images/robots/sebastian-958x718.jpg"></a>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-6 item gallery-image" style="max-width: 100%;">
        <div class="item-wrapper">
          <p class="text display-5 align-center"><a href="https://youtu.be/itHNW2OFr4Y" target="_blank">2013 - Ultimate Ascent Game Animation</a></p> <!-- Game name with link to game animation -->
          <iframe width="600" height="300"
          style="margin-left:auto;margin-right:auto;"
          src="https://youtube.com/embed/itHNW2OFr4Y">
          </iframe> 
        </div>
      </div>
    </div>
    <div class="media-container-row">
      <div class="col-sm-12 col-md-10 col-lg-6 item gallery-image display-5 pb-3">
        <hr class="line">
        <strong>Awards</strong><br>
        <a>Imagery Award (Greater Kansas City Regional)</a><br>
        <a>Regional Chairmans Award (Colorado Regional)</a><br>
        <a>Regional Finalist (Colorado Regional)</a><br>
        <br>
        <strong>Submissions</strong><br>
        <a href="/assets/files/2013-BusinessPlan.pdf" target="_blank">2013 Business Plan</a><br>
        <a href="/assets/files/2013-ChairmansEssay.pdf" target="_blank">2013 Chairman's Essay</a><br>
      </div>
    </div>
  </div>

  <button class="collapsible">2012 Season: Rebound Rumble - <span class="bold teamyellow">RDR</span></button>
  <div class="content-collapse">
    <div class="media-container-row">
      <div class="col-sm-10 col-md-10 col-lg-4 item gallery-image">
        <div class="item-wrapper">
          <p class="text display-5 align-center">"RDR - Rough Draft Robot"</p>
          <a href="/assets/images/robots/RDR.jpg" target="_blank"><img class="w-100" src="/assets/images/robots/RDR.jpg"></a>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-6 item gallery-image" style="max-width: 100%;">
        <div class="item-wrapper">
          <p class="text display-5 align-center"><a href="https://youtu.be/6ojUggDbx7g" target="_blank">2012 - Rebound Rumble Game Animation</a></p> <!-- Game name with link to game animation -->
          <iframe width="600" height="300"
          style="margin-left:auto;margin-right:auto;"
          src="https://youtube.com/embed/ZnGfbGzEFrM">
          </iframe> 
        </div>
      </div>
    </div>
    <div class="media-container-row">
      <div class="col-sm-12 col-md-10 col-lg-6 item gallery-image display-5 pb-3">
        <hr class="line">
        <strong>Awards</strong><br>
        <a>Team Sprit Award (Greater Kansas City Regional)</a><br>
        <a>Woodie Flowers Finalist Award (Colorado Regional)</a><br>
        <a>FIRST Deans List Finalist Award (Colorado Regional)</a><br>
        <a>Regional Winner (Colorado Regional)</a><br>
        <a>Entrepreneurship Award (Colorado Regional)</a><br>
        <br>
        <strong>Submissions</strong><br>
        <a href="/assets/files/2012-ChairmansEssay.pdf" target="_blank">2012 Chairman's Essay</a><br>
      </div>
    </div>
  </div>

  <button class="collapsible">2011 Season: Logo Motion - <span class="bold teamyellow">Grab 'N' Go</span></button>
  <div class="content-collapse">
    <div class="media-container-row">
      <div class="col-sm-10 col-md-10 col-lg-4 item gallery-image">
        <div class="item-wrapper">
          <p class="text display-5 align-center">"Grab 'N' Go"</p>
          <a href="/assets/images/robots/grabngo.jpg" target="_blank"><img class="w-100" src="/assets/images/robots/grabngo.jpg"></a>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-6 item gallery-image" style="max-width: 100%;">
        <div class="item-wrapper">
          <p class="text display-5 align-center"><a href="https://youtu.be/oxujTCgQPgg" target="_blank">2011 - Logo Motion Game Animation</a></p> <!-- Game name with link to game animation -->
          <iframe width="600" height="300"
          style="margin-left:auto;margin-right:auto;"
          src="https://youtube.com/embed/oxujTCgQPgg">
          </iframe> 
        </div>
      </div>
    </div>
    <div class="media-container-row">
      <div class="col-sm-12 col-md-10 col-lg-6 item gallery-image display-5 pb-3">
        <hr class="line">
        <strong>Awards</strong><br>
        <a>Entrepreneurship Award (Greater Kansas City Regional)</a><br>
        <a>Regional Chairmans Award (Colorado Regional)</a><br>
        <a>Woodie Flowers Finalist Award (Colorado Regional)</a><br>
        <a>FIRST Deans List Finalist Award (Colorado Regional)</a><br>
        <br>
        <strong>Submissions</strong><br>
        <a href="/assets/files/2011_ChairmansEssay.pdf" target="_blank">2011 Chairman's Essay</a><br>
        <a href="/assets/files/2011-ExecutiveSummaries.pdf" target="_blank">2011 Executive Summaries</a><br>
        <a href="/assets/files/2011-FeedbackForms.pdf" target="_blank">2011 Feedback Forms</a><br>
      </div>
    </div>
  </div>

  <button class="collapsible">2010 Season: Breakaway - <span class="bold teamyellow">Sparky</span></button>
  <div class="content-collapse">
    <div class="media-container-row">
      <div class="col-sm-10 col-md-10 col-lg-4 item gallery-image">
        <div class="item-wrapper">
          <p class="text display-5 align-center">"Sparky"</p>
          <a href="/assets/images/robots/sparky-643x464.jpg" target="_blank"><img class="w-100" src="/assets/images/robots/sparky-643x464.jpg"></a>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-6 item gallery-image" style="max-width: 100%;">
        <div class="item-wrapper">
          <p class="text display-5 align-center"><a href="https://youtu.be/iheq7yar5c4" target="_blank">2010 - Breakaway Game Animation</a></p> <!-- Game name with link to game animation -->
          <iframe width="600" height="300"
          style="margin-left:auto;margin-right:auto;"
          src="https://youtube.com/embed/iheq7yar5c4">
          </iframe> 
        </div>
      </div>
    </div>
    <div class="media-container-row">
      <div class="col-sm-12 col-md-10 col-lg-6 item gallery-image display-5 pb-3">
        <hr class="line">
        <strong>Awards</strong><br>
        <a>Entrepreneurship Award (Colorado Regional)</a><br>
        <a>Excellence in Design Award (Colorado Regional)</a><br>
        <a>Industrial Safety Award  (Colorado Regional)</a><br>
        <br>
        <strong>Submissions</strong><br>
        <a href="/assets/files/2010-ChairmansEssay.pdf" target="_blank">2010 Chairman's Essay</a><br>
        <a href="/assets/files/2010-ExecutiveSummaries.pdf" target="_blank">2010 Executive Summaries</a><br>
      </div>
    </div>
  </div>

  <button class="collapsible">2009 Season: Lunacy - <span class="bold teamyellow">Dozer</span></button>
  <div class="content-collapse">
    <div class="media-container-row">
      <div class="col-sm-10 col-md-10 col-lg-4 item gallery-image">
        <div class="item-wrapper">
          <p class="text display-5 align-center">"Dozer"</p>
          <a href="/assets/images/robots/dozer-958x639.jpg" target="_blank"><img class="w-100" src="/assets/images/robots/dozer-958x639.jpg"></a> <!-- Image of robot -->
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-6 item gallery-image" style="max-width: 100%;">
        <div class="item-wrapper">
          <p class="text display-5 align-center"><a href="https://youtu.be/ZnGfbGzEFrM" target="_blank">2009 - Lunacy Game Animation</a></p> <!-- Game name with link to game animation -->
          <iframe width="600" height="300"
          style="margin-left:auto;margin-right:auto;"
          src="https://youtube.com/embed/ZnGfbGzEFrM">
          </iframe> 
        </div>
      </div>
    </div>
    <div class="media-container-row">
      <div class="col-sm-12 col-md-10 col-lg-6 item gallery-image display-5 pb-3">
        <hr class="line">
        <strong>Awards</strong><br>
        <a>Rookie All Star Award (Colorado Regional)</a><br>
        <a>Regional Winner (Colorado Regional)</a><br>
        <a>Autodesk Visualization Award (Colorado Regional)</a><br>
        <a>Website Award (Colorado Regional)</a><br>
        <br>
        <strong>Submissions</strong><br>
        <a href="/assets/files/2009-ChairmansEssay.pdf" target="_blank">2009 Chairman's Essay</a><br>
        <a href="/assets/files/2009-ExecutiveSummaries.pdf" target="_blank">2009 Executive Summaries</a><br>
      </div>
    </div>
  </div>
</section>
  