<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="generator" content="Mobirise v4.12.4, mobirise.com">
    <meta property="og:image" content="/assets/images/full-red-cgw-logosvg.svg">
    <meta property="og:description" content="FIRST Robotics Competition Team 2996 Cougars Gone Wired strives to combine a constant pursuit of knowledge with a commitment to the community and the expansion of FIRST.">
    <meta name="theme-color" content="#cc0000">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

    <!--Build page title-->
    {% if page.title == "Home" %}
      <title>{{site.title}}</title>
    {% else %}
      <title>{{page.title}} - {{site.title}}</title>
    {% endif %}

    <!--TODO: Replace all this craziness with a simpler theme system.
      (Preferably from scratch.)-->
    <link rel="stylesheet" href="/assets/web/assets/mobirise-icons/mobirise-icons.css">
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="/assets/socicon/css/styles.css">
    <link rel="stylesheet" href="/assets/tether/tether.min.css">
    <link rel="stylesheet" href="/assets/dropdown/css/style.css">
    <link rel="stylesheet" href="/assets/theme/css/style.css">
    <link rel="stylesheet" href="/assets/slideshow/slideshow.css">
    <link rel="stylesheet" href="/assets/collapsible-menu/collabsible-menu.css">
    <link rel="stylesheet" href="/assets/custom/css/leadership-holder.css">
    <link rel="preload" as="style" href="/assets/mobirise/css/mbr-additional.css">
    <link rel="stylesheet" href="/assets/mobirise/css/mbr-additional.css" type="text/css">
  </head>
  <body>
    {% include "navbar.html" %}

    <!--Get correct page banner-->
    {% if page.title == "Home" %}
      {% include "banner-homepage.html" %}
    {% else %}
      {% include "banner.html" %}
    {% endif %}

    {{ page.content }}
    {% include "footer.html" %}

    <!--NOTE: Most of these are probably unnecessary, however not including
    them causes the navbar to stop working properly.-->
    <!--TODO: Find just the navbar functionality and delete the rest of
        this garbage!-->
    <script src="/assets/web/assets/jquery/jquery.min.js"></script>
    <script src="/assets/popper/popper.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/smoothscroll/smooth-scroll.js"></script>
    <script src="/assets/ytplayer/jquery.mb.ytplayer.min.js"></script>
    <script src="/assets/tether/tether.min.js"></script>
    <script src="/assets/parallax/jarallax.min.js"></script>
    <script src="/assets/mbr-popup-btns/mbr-popup-btns.js"></script>
    <script src="/assets/dropdown/js/nav-dropdown.js"></script>
    <script src="/assets/dropdown/js/navbar-dropdown.js"></script>
    <script src="/assets/touchswipe/jquery.touch-swipe.min.js"></script>
    <script src="/assets/slideshow/slideshow.js"></script>
    <script src="/assets/theme/js/script.js"></script>
    <script src="/assets/collapsible-menu/collapsible-menu.js"></script>
  </body>
</html>

